/* Block: comparison (BEM) */
.comparison {
  margin-top: 29px;
}

.comparison__banner {
  background: linear-gradient(270deg, #6ab4ff 0%, #c2a6ff 100%);
  border-radius: 30px;
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 433px;
}

.comparison__row {
  display: flex;
  margin-top: 15px;
}

.comparison__row--word-clouds,
.comparison__row--army {
  margin-top: 28px;
}

.comparison__row--army {
  justify-content: center;
}

.comparison__tag-over-time-card {
  width: 932px;
  margin-right: 30px;
}

.comparison__tag-over-time-header {
  justify-content: space-between;
  padding: 0 10px 0 28px;
}

.comparison__tag-over-time-header .comparison__section-title {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.comparison__time-tool {
  width: 220px;
  position: relative;
}

.comparison__time-dropdown {
  position: absolute;
  top: 63px;
  right: 20px;
  background: #8097af;
  border-radius: 10px;
  border-top-right-radius: 0;
  padding: 5px 10px;
}

.comparison__time-dropdown::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-bottom-color: #8097af;
  border-top: 0;
  border-right: 0;
  margin-left: -13px;
  margin-top: -10px;
}

.comparison__time-dropdown .comparison__dropdown-item:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

.comparison__time-dropdown .comparison__dropdown-item {
  width: 172px;
  display: flex;
  justify-content: flex-start;
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  padding: 10px 0 16px 5px;
  border-bottom: 1px solid #ffffff1a;
}

.comparison__tag-over-time-content {
  display: flex;
  justify-content: center;
}

.comparison__line-chart-wrap {
  display: flex;
  flex-direction: column;
  margin: 73px 0 42.58px;
}

.comparison__tagging-card {
  flex-grow: 1;
}

.comparison__tagging-header {
  justify-content: space-between;
  padding: 0 10px 0 28px;
}

.comparison__tagging-header .comparison__section-title {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.comparison__doughnut-wrap {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.comparison__doughnut-wrap .comparison__doughnut-legend {
  margin-left: 29px;
}

.comparison__tagging-card .chartRoot {
  position: relative;
}

.comparison__tagging-card .comparison__doughnut-center-text {
  position: absolute;
  top: 46%;
  right: 46%;
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.comparison__doughnut-legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comparison__doughnut-legend-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.comparison__doughnut-legend-swatch {
  width: 13px;
  min-height: 13px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin-right: 12.64px;
  border-radius: 50px;
}

.comparison__doughnut-legend-label {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.comparison__word-cloud-header {
  padding: 0 30px;
}

.comparison__word-cloud-title {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.comparison__word-cloud-content {
  padding: 18px 30px 19px;
}

.comparison__word-cloud-card--government {
  width: 932px;
  margin-right: 30px;
}

.comparison__word-cloud-card--services {
  flex-grow: 1;
}

.comparison__word-cloud-card--army {
  width: 932px;
}

.comparison__table-section {
  margin-top: 28px;
  margin-bottom: 0 !important;
}

.comparison__table-header {
  display: flex;
  height: 90px;
  align-items: center;
  padding: 0 31.69px 0 30px;
}

.comparison__table-title {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 31px;
}

.comparison__table-search {
  flex-grow: 1;
}

.comparison__toolbar {
  display: flex;
}

.comparison__toolbar-btn {
  margin-left: 20px;
}

.comparison__table-section .customize-table__table thead tr th:nth-child(1) {
  width: 110px;
  padding-left: 13px !important;
}

.comparison__table-section .customize-table__table tbody tr td:nth-child(1) {
  text-align: center !important;
  padding-left: 13px !important;
}

.comparison__table-section .customize-table__table thead tr th:nth-child(2) {
  padding-left: 4px;
  text-align: left !important;
}

.comparison__table-section .customize-table__table tbody tr td:nth-child(2) {
  text-align: left !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.comparison__table-section .customize-table__table thead tr th:nth-child(3) {
  text-align: left !important;
}

.comparison__table-section .customize-table__table tbody tr td:nth-child(3) {
  text-align: left !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.comparison__table-section .customize-table__table thead tr th:nth-child(4) {
  text-align: left !important;
}

.comparison__table-section .customize-table__table tbody tr td:nth-child(4) {
  text-align: left !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.comparison__table-section .customize-table__table thead tr th:nth-child(5) {
  text-align: left !important;
}

.comparison__table-section .customize-table__table tbody tr td:nth-child(5) {
  display: flex;
  align-items: center;
  text-align: left !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.comparison__table-section .customize-table__table tbody tr td:nth-child(5) img {
  min-width: 50px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.comparison__table-section .customize-table__table thead tr th:nth-child(6) {
  text-align: center;
}

.comparison__table-section .customize-table__table tbody tr td:nth-child(6) {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
}

.comparison__table-section .customize-table__table thead tr th:nth-child(7) {
  text-align: center;
}

.comparison__table-section .customize-table__table tbody tr td:nth-child(7) div {
  background: #2d452f !important;
  min-width: none !important;
  max-width: 124px;
  margin: auto;
}

.comparison__table-section .customize-table__table thead tr th:nth-child(8) {
  text-align: center;
}

.comparison__table-section .customize-table__table tbody tr td:nth-child(8) {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #75b3ff;
  cursor: pointer;
}

.comparison__table-section .customize-table__table thead tr th:nth-child(9) {
  text-align: center;
}

.comparison__table-section .customize-table__table tbody tr td:nth-child(9) {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #75b3ff;
  text-decoration: underline;
}

.comparison__table-section .customize-table__table thead tr th:nth-child(10) {
  width: 97px;
}

.comparison__table-section .customize-table__table tbody tr td:nth-child(10) .comparison__actions-btn {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comparison__view-modal {
  width: 1500px;
  background: linear-gradient(180deg, #343d49 0%, #336497 100%);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 30px 30px 20px;
}

.comparison__view-modal > img {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
}

.comparison__view-modal .comparison__actions-btn {
  position: absolute;
  top: 30px;
  right: 70px;
  z-index: 2;
}

.comparison__view-modal .comparison__actions-btn .dot {
  background: #fff !important;
  min-width: 5px;
  width: 5px;
  height: 5px;
  min-height: 5px;
}

.comparison__view-modal .comparison__view-modal-body {
  display: flex;
  align-items: flex-end;
}

.comparison__view-modal .comparison__view-modal-body .comparison__view-modal-media {
  width: 650px;
  min-width: 650px;
  height: 650px;
  border: 3px dashed #ffffff;
  border-radius: 40px;
  margin: 0 50px 37px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ffffff;
}

.comparison__view-modal .comparison__view-modal-body .comparison__view-modal-divider {
  width: 2px;
  height: 688px;
  background: #ffffff33;
}

.comparison__view-modal .comparison__view-modal-body .comparison__view-modal-content {
  padding-left: 30px;
  flex-grow: 1;
  text-align: left;
  position: relative;
}

.comparison__view-modal .comparison__view-modal-body .comparison__view-modal-content .comparison__section-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.comparison__view-modal .comparison__view-modal-body .comparison__view-modal-content .comparison__view-modal-meta {
  display: flex;
  align-items: center;
  margin-top: 34px;
}

.comparison__view-modal-meta-item {
  width: 323px;
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.comparison__view-modal .comparison__view-modal-body .comparison__view-modal-content .comparison__view-modal-section {
  margin-top: 76px;
}

.comparison__view-modal .comparison__view-modal-body .comparison__view-modal-content .comparison__view-modal-section .comparison__section-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.comparison__view-modal .comparison__view-modal-body .comparison__view-modal-content .comparison__view-modal-section .comparison__view-modal-card {
  position: relative;
  margin-top: 30px;
  display: flex;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px 20px 10px;
}

.comparison__view-modal-card > img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.comparison__view-modal-card-body {
  width: 506px;
}

.comparison__view-modal-card-body .comparison__view-modal-card-text {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.comparison__view-modal-card-body .comparison__view-modal-card-date {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 19px;
}

.comparison__view-modal-card .comparison__actions-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.comparison__view-modal .comparison__view-modal-body .comparison__view-modal-content .comparison__view-modal-section.comparison__view-modal-section--comments {
  margin-top: 78px;
}

.comparison__view-modal .comparison__view-modal-body .comparison__view-modal-content .comparison__view-modal-section.comparison__view-modal-section--comments .comparison__section-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.comparison__view-modal .comparison__view-modal-body .comparison__view-modal-content .comparison__view-modal-section.comparison__view-modal-section--comments .comparison__view-modal-card {
  margin-top: 28px;
  height: 297px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 30px 33px;
  position: relative;
}

.comparison__view-modal-section--comments .comparison__view-modal-card .comparison__actions-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.comparison__view-modal-section--comments .comparison__view-modal-card .comparison__actions-btn .dot {
  width: 5px;
  min-width: 5px;
  height: 5px;
  min-height: 5px;
  background: #fff !important;
}

.comparison__view-modal-section--comments .comparison__view-modal-card textarea {
  width: 550px;
  height: 110px;
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0 !important;
  resize: none;
}

.comparison__view-modal-section--comments .comparison__view-modal-card textarea::placeholder {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}

.comparison__view-modal-section--comments .comparison__view-modal-card textarea:focus-visible,
.comparison__view-modal-section--comments .comparison__view-modal-card textarea:focus {
  outline: none;
}

.comparison__view-modal-submit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 81px;
  height: 34px;
  background: #75b3ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}
