.comparisonRoot {
  margin-top: 29px;
}

.comparisonRoot .comparisonHeader {
  background: linear-gradient(270deg, #6ab4ff 0%, #c2a6ff 100%);
  border-radius: 30px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 433px;
}

.comparisonRoot .comparisonRoot1 {
  display: flex;
  margin-top: 15px;
}

.comparisonRoot .comparisonRoot1 .tagOverTimeRoot {
  width: 932px;
  margin-right: 30px;
}

.comparisonRoot .comparisonRoot1 .tagOverTimeRoot .tagOverTimeHeader {
  justify-content: space-between;
  padding: 0 10px 0 28px;
}

.comparisonRoot .comparisonRoot1 .tagOverTimeRoot .tagOverTimeHeader .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.comparisonRoot .comparisonRoot1 .tagOverTimeRoot .tagOverTimeHeader .timeTool {
  width: 220px;
  position: relative;
}

.comparisonRoot
  .comparisonRoot1
  .tagOverTimeRoot
  .tagOverTimeHeader
  .timeTool
  .timeToolDropdownRoot {
  position: absolute;
  top: 63px;
  right: 20px;
  background: #8097af;
  border-radius: 10px;
  border-top-right-radius: 0;
  padding: 5px 10px;
}

.comparisonRoot
  .comparisonRoot1
  .tagOverTimeRoot
  .tagOverTimeHeader
  .timeTool
  .timeToolDropdownRoot::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-bottom-color: #8097af;
  border-top: 0;
  border-right: 0;
  margin-left: -13px;
  margin-top: -10px;
}

.comparisonRoot
  .comparisonRoot1
  .tagOverTimeRoot
  .tagOverTimeHeader
  .timeTool
  .timeToolDropdownRoot
  .item:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

.comparisonRoot
  .comparisonRoot1
  .tagOverTimeRoot
  .tagOverTimeHeader
  .timeTool
  .timeToolDropdownRoot
  .item {
  width: 172px;
  display: flex;
  justify-content: flex-start;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  padding: 10px 0 16px 5px;
  border-bottom: 1px solid #ffffff1a;
}

.comparisonRoot .comparisonRoot1 .tagOverTimeRoot .tagOverTime {
  display: flex;
  justify-content: center;
}

.comparisonRoot
  .comparisonRoot1
  .tagOverTimeRoot
  .tagOverTime
  .tagOverTimeLineRoot {
  display: flex;
  flex-direction: column;
  margin: 73px 0 42.58px;
}

.comparisonRoot .comparisonRoot1 .taggingRoot {
  flex-grow: 1;
}

.comparisonRoot .comparisonRoot1 .taggingRoot .taggingHeader {
  justify-content: space-between;
  padding: 0 10px 0 28px;
}

.comparisonRoot .comparisonRoot1 .taggingRoot .taggingHeader .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.comparisonRoot .comparisonRoot1 .taggingRoot .doughnutChartRoot {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.comparisonRoot
  .comparisonRoot1
  .taggingRoot
  .doughnutChartRoot
  .doughnutChartDes {
  margin-left: 29px;
}

.comparisonRoot .comparisonRoot1 .taggingRoot .chartRoot {
  position: relative;
}

.comparisonRoot .comparisonRoot1 .taggingRoot .doughnutChartPercent {
  position: absolute;
  top: 46%;
  right: 46%;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.comparisonRoot .comparisonRoot1 .taggingRoot .doughnutChartDes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comparisonRoot .comparisonRoot1 .taggingRoot .doughnutChartDesItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.comparisonRoot .comparisonRoot1 .taggingRoot .doughnutChartIcon {
  width: 13px;
  min-height: 13px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin-right: 12.64px;
  border-radius: 50px;
}

.comparisonRoot .comparisonRoot1 .taggingRoot .doughnutChartItemName {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.comparisonRoot .comparisonRoot2 {
  display: flex;
  margin-top: 28px;
}

.comparisonRoot .wordCloudHeader {
  padding: 0 30px;
}

.comparisonRoot .wordCloudHeader .headerTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.comparisonRoot .wordCloud {
  padding: 18px 30px 19px;
}

.comparisonRoot .comparisonRoot2 .governmentWordCloud {
  width: 932px;
  margin-right: 30px;
}

.comparisonRoot .comparisonRoot2 .servicesWordCloud {
  flex-grow: 1;
}

.comparisonRoot .comparisonRoot3 {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.comparisonRoot .comparisonRoot2 .armyWordCloud {
  width: 932px;
}

.comparisonRoot .comparisonRoot4 {
  margin-top: 28px;
}

.comparisonRoot .comparisonRoot4 {
  margin-bottom: 0 !important;
}

.comparisonRoot .comparisonRoot4 .comparisonTableHeader {
  display: flex;
  height: 90px;
  align-items: center;
  padding: 0 31.69px 0 30px;
}

.comparisonRoot .comparisonRoot4 .comparisonTableHeader .comparisonTableTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 31px;
}
.comparisonRoot
  .comparisonRoot4
  .comparisonTableHeader
  .comparisonTableSearchTool {
  flex-grow: 1;
}

.comparisonRoot .comparisonRoot4 .comparisonTableHeader .toolEndRoot {
  display: flex;
}

.comparisonRoot .comparisonRoot4 .comparisonTableHeader .toolEndRoot .tool {
  margin-left: 20px;
}

.comparisonRoot .comparisonRoot4 .customizeTable thead tr th:nth-child(1) {
  width: 110px;
  padding-left: 13px !important;
}

.comparisonRoot .comparisonRoot4 .customizeTable tbody tr td:nth-child(1) {
  text-align: center !important;
  padding-left: 13px !important;
}

.comparisonRoot .comparisonRoot4 .customizeTable thead tr th:nth-child(2) {
  padding-left: 4px;
  text-align: left !important;
}

.comparisonRoot .comparisonRoot4 .customizeTable tbody tr td:nth-child(2) {
  text-align: left !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.comparisonRoot .comparisonRoot4 .customizeTable thead tr th:nth-child(3) {
  text-align: left !important;
}

.comparisonRoot .comparisonRoot4 .customizeTable tbody tr td:nth-child(3) {
  text-align: left !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.comparisonRoot .comparisonRoot4 .customizeTable thead tr th:nth-child(4) {
  text-align: left !important;
}

.comparisonRoot .comparisonRoot4 .customizeTable tbody tr td:nth-child(4) {
  text-align: left !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.comparisonRoot .comparisonRoot4 .customizeTable thead tr th:nth-child(5) {
  text-align: left !important;
}

.comparisonRoot .comparisonRoot4 .customizeTable tbody tr td:nth-child(5) {
  display: flex;
  align-items: center;
  text-align: left !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.comparisonRoot .comparisonRoot4 .customizeTable tbody tr td:nth-child(5) img {
  min-width: 50px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.comparisonRoot .comparisonRoot4 .customizeTable thead tr th:nth-child(6) {
  text-align: center;
}

.comparisonRoot .comparisonRoot4 .customizeTable tbody tr td:nth-child(6) {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
}

.comparisonRoot .comparisonRoot4 .customizeTable thead tr th:nth-child(7) {
  text-align: center;
}

.comparisonRoot .comparisonRoot4 .customizeTable tbody tr td:nth-child(7) div {
  background: #2d452f !important;
  min-width: none !important;
  max-width: 124px;
  margin: auto;
}

.comparisonRoot .comparisonRoot4 .customizeTable thead tr th:nth-child(8) {
  text-align: center;
}

.comparisonRoot .comparisonRoot4 .customizeTable tbody tr td:nth-child(8) {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #75b3ff;
  cursor: pointer;
}

.comparisonRoot
  .comparisonRoot4
  .customizeTable
  tbody
  tr
  td:nth-child(8)
  .modalLayoutRootWrapper {
  background: rgba(0, 0, 0, 0.07) !important;
  cursor: initial;
}

.comparisonRoot .comparisonRoot4 .customizeTable thead tr th:nth-child(9) {
  text-align: center;
}

.comparisonRoot .comparisonRoot4 .customizeTable tbody tr td:nth-child(9) {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #75b3ff;
  text-decoration: underline;
}

.comparisonRoot .comparisonRoot4 .customizeTable thead tr th:nth-child(10) {
  width: 97px;
}

.comparisonRoot
  .comparisonRoot4
  .customizeTable
  tbody
  tr
  td:nth-child(10)
  .dotBtn {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comparisonRoot .tabelViewModalRoot {
  width: 1500px;
  background: linear-gradient(180deg, #343d49 0%, #336497 100%);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 30px 30px 20px;
}

.comparisonRoot .tabelViewModalRoot > img {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
}

.comparisonRoot .tabelViewModalRoot .dotBtn {
  position: absolute;
  top: 30px;
  right: 70px;
  z-index: 2;
}

.comparisonRoot .tabelViewModalRoot .dotBtn .dot {
  background: #fff !important;
  min-width: 5px;
  width: 5px;
  height: 5px;
  min-height: 5px;
}

.comparisonRoot .tabelViewModalRoot .mainRoot {
  display: flex;
  align-items: flex-end;
}

.comparisonRoot .tabelViewModalRoot .mainRoot .leftPart {
  width: 650px;
  min-width: 650px;
  height: 650px;
  border: 3px dashed #ffffff;
  border-radius: 40px;
  margin: 0 50px 37px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ffffff;
}

.comparisonRoot .tabelViewModalRoot .mainRoot .divLinePart {
  width: 2px;
  height: 688px;
  background: #ffffff33;
}

.comparisonRoot .tabelViewModalRoot .mainRoot .rightPart {
  padding-left: 30px;
  flex-grow: 1;
  text-align: left;
  position: relative;
}

.comparisonRoot .tabelViewModalRoot .mainRoot .rightPart .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.comparisonRoot .tabelViewModalRoot .mainRoot .rightPart .rightPart1 {
  display: flex;
  align-items: center;
  margin-top: 34px;
}

.comparisonRoot .tabelViewModalRoot .mainRoot .rightPart .rightPart1 .item {
  width: 323px;
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.comparisonRoot .tabelViewModalRoot .mainRoot .rightPart .casesPart {
  margin-top: 76px;
}

.comparisonRoot .tabelViewModalRoot .mainRoot .rightPart .casesPart .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.comparisonRoot .tabelViewModalRoot .mainRoot .rightPart .casesPart .desRoot {
  position: relative;
  margin-top: 30px;
  display: flex;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px 20px 10px;
}

.comparisonRoot
  .tabelViewModalRoot
  .mainRoot
  .rightPart
  .casesPart
  .desRoot
  > img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.comparisonRoot
  .tabelViewModalRoot
  .mainRoot
  .rightPart
  .casesPart
  .desRoot
  .desRoot1 {
  width: 506px;
}

.comparisonRoot
  .tabelViewModalRoot
  .mainRoot
  .rightPart
  .casesPart
  .desRoot
  .desRoot1
  .des {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.comparisonRoot
  .tabelViewModalRoot
  .mainRoot
  .rightPart
  .casesPart
  .desRoot
  .desRoot1
  .desDate {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 19px;
}

.comparisonRoot
  .tabelViewModalRoot
  .mainRoot
  .rightPart
  .casesPart
  .desRoot
  .dotBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.comparisonRoot .tabelViewModalRoot .mainRoot .rightPart .commentPart {
  margin-top: 78px;
}

.comparisonRoot .tabelViewModalRoot .mainRoot .rightPart .commentPart .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.comparisonRoot .tabelViewModalRoot .mainRoot .rightPart .commentPart .desRoot {
  margin-top: 28px;
  height: 297px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 30px 33px;
  position: relative;
}

.comparisonRoot
  .tabelViewModalRoot
  .mainRoot
  .rightPart
  .commentPart
  .desRoot
  .dotBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.comparisonRoot
  .tabelViewModalRoot
  .mainRoot
  .rightPart
  .commentPart
  .desRoot
  .dotBtn
  .dot {
  width: 5px;
  min-width: 5px;
  height: 5px;
  min-height: 5px;
  background: #fff !important;
}

.comparisonRoot
  .tabelViewModalRoot
  .mainRoot
  .rightPart
  .commentPart
  .desRoot
  textarea {
  width: 550px;
  height: 110px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0 !important;
  resize: none;
}
.comparisonRoot
  .tabelViewModalRoot
  .mainRoot
  .rightPart
  .commentPart
  .desRoot
  textarea::placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}
.comparisonRoot
  .tabelViewModalRoot
  .mainRoot
  .rightPart
  .commentPart
  .desRoot
  textarea:focus-visible {
  outline: none;
}
.comparisonRoot
  .tabelViewModalRoot
  .mainRoot
  .rightPart
  .commentPart
  .desRoot
  textarea:focus {
  outline: none;
}

.comparisonRoot
  .tabelViewModalRoot
  .mainRoot
  .rightPart
  .commentPart
  .desRoot
  .postBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 81px;
  height: 34px;
  background: #75b3ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}
