.gaugeMoreDetail {
  position: absolute;
  left: 37%;
  bottom: 5%;
  font-family: "HelveticaMedium";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.gaugeDirection {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.negative {
  position: absolute;
  bottom: -2%;
  left: 22%;
}

.positive {
  position: absolute;
  bottom: -2%;
  right: 22%;
}
