.sentimentBtn {
  padding: 10.5px 27px !important;
}

.gaugeMoreDetail {
  position: absolute;
  left: 37%;
  bottom: 5%;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.gaugeDirection {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.negative {
  position: absolute;
  bottom: -2%;
  left: 21.5%;
}

.positive {
  position: absolute;
  bottom: -2%;
  right: 22.5%;
}

.sentimentBtn .childRoot {
  position: absolute;
  top: 63px;
  right: 20px;
  background: #8097af;
  border-radius: 10px;
  border-top-right-radius: 0;
  padding: 5px 10px;
  z-index: 2;
}

.sentimentBtn .childRoot::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-bottom-color: #8097af;
  border-top: 0;
  border-right: 0;
  margin-left: -13px;
  margin-top: -10px;
}

.sentimentBtn .childRoot .item:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

.sentimentBtn .childRoot .item {
  width: 172px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  padding: 10px 0 16px 5px;
  border-bottom: 1px solid #ffffff1a;
}

.sentimentBtn .childRoot .item .statusDot {
  width: 9px;
  height: 9px;
  border-radius: 50px;
  background: #4fbf67;
  margin-right: 11px;
}
