.stats {
  min-width: 507px;
  width: 507px;
}

.statsBtn {
  padding: 9.5px 25px !important;
}

.statsItems {
  display: flex;
  align-items: center;
}

.statsItems .statsItemRight {
  width: unset !important;
  flex-grow: 1;
  padding: 38px 0 36px 0;
}
.statsItem {
  width: 233px;
  padding: 38px 0 36px 0;
}
.statsItemCount {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.statsItemDes {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
  padding: 17px 0 12px 0;
}
.statsItemPercent {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #0fdf63;
}
