.governmentRoot {
  margin-top: 8px;
  padding-left: 33px;
  padding-right: 33px;
}
.governmentRoot .governmentTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 12px;
  padding: 0 6px;
}
.governmentRoot .governmentHeaderRoot {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.governmentRoot .governmentHeaderRoot .governmentHeaderLink {
  margin-left: 0px;
}

.governmentRoot .governmentHeaderRoot .governmentHeaderBtn {
  margin-right: 0px;
  padding: 8px 18px !important;
}

.governmentRoot .chartContainer {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  border: 2px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
}

.governmentRoot .chartContainer .chartHeader {
  display: flex;
  align-items: center;
  height: 66px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.governmentRoot .chartContainer .chartHeader .databasePart {
  padding: 0 10px 0 30px;
  width: 52.8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.governmentRoot .chartContainer .chartHeader .databasePart .chartTools {
  display: flex;
}

.governmentRoot
  .chartContainer
  .chartHeader
  .databasePart
  .chartTools
  .chartPeriod {
  margin-right: 30px;
  padding: 7px 20px 7px 20px;
}

.governmentRoot
  .chartContainer
  .chartHeader
  .databasePart
  .chartTools
  .chartPeriod
  i {
  margin-left: 12px !important;
}

.governmentRoot
  .chartContainer
  .chartHeader
  .databasePart
  .chartTools
  .chartCompare {
  padding: 10.5px 23px 10.5px 20px !important;
}

.governmentRoot
  .chartContainer
  .chartHeader
  .databasePart
  .chartTools
  .chartCompare
  i {
  margin-left: 12px !important;
}

.governmentRoot .chartContainer .chartHeader .casesPart {
  padding: 0 11px 0 30px;
  flex-grow: 1;
}

.governmentRoot .chartContainer .chartHeader .databasePart .headerItemTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 11px;
}

.governmentRoot .chartContainer .chartHeader .casesPart .headerItemTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 11px;
}

.governmentRoot .chartContent {
  display: flex;
}

.governmentRoot .chartContent .databasePart {
  padding: 31.5px 0 36px 40.5px;
  width: 52.9%;
  display: flex;
  border-right: 2px solid rgba(149, 166, 184, 0.4);
}

.governmentRoot .chartContent .casesPart {
  padding: 0;
  flex-grow: 1;
}

.governmentRoot .descriptionRoot {
  width: 229.88px;
  margin-right: 16px;
}

.governmentRoot .descriptionRoot:first-child {
  border-top: 1px solid transparent;
}

.governmentRoot .lineChartRoot {
  flex-grow: 1;
  padding-top: 45px;
  height: 323.39px;
}

.governmentRoot .casesPart .descriptionRoot {
  margin-right: 80px;
}

.governmentRoot .descriptionItem {
  border-top: 1px solid rgba(149, 166, 184, 0.1);
}

.governmentRoot .casesPart .descriptionItem {
  padding: 17px 0 22px 0;
}

.governmentRoot .descriptionItemTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
  opacity: 0.7;
}
.governmentRoot .descriptionItemCount {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 24px;
  margin-top: 20px;
}

.borderNone {
  border: none !important;
}

.governmentRoot .governmentContentRoot {
  margin-top: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 16px;
  padding: 30px 32px 30px 30px;
}

.governmentRoot .governmentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.governmentRoot .governmentContentRoot .governmentContentTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}
.governmentRoot .governmentToolRoot {
  display: flex;
  align-items: center;
}

.governmentRoot .governmentSearchTool {
  margin-right: 18px;
}

.governmentRoot .governmentContent {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.governmentRoot .governmentContent .governmentContentItemRoot :last-child {
  margin-bottom: 0;
}
.governmentRoot
  .governmentContent
  .governmentContentItemRoot
  .governmentContentItem {
  margin: 0 auto 30px;
  width: 595px;
  display: flex;
  flex-direction: column;
}
