/* Block: back-btn (BEM) */

.back-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.back-btn__icon {
  color: #69b3ff;
  font-size: 15px;
  line-height: 9px;
  margin-bottom: 3px;
}

.back-btn__label {
  margin-left: 5px;
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #69b3ff;
  border-bottom: 3px solid #69b3ff;
}
