.roundButtonRoot {
  background: #ffffff1a;
  box-shadow: 0px 0px 10px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  min-width: 45px;
  height: 45px;
  border-radius: 50px;
}

.roundButtonRoot i {
  color: #75b3ff;
  font-size: 16px;
  margin-top: 10px;
}
