.homeRoot {
  padding-left: 29px;
  padding-right: 30px;
}

.homeHeader {
  padding: 2.5px 21px 0 7.2px;
  display: flex;
  justify-content: space-between;
}

.homeHello {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 0;
}

.homeHello img {
  margin-left: 20px;
  margin-bottom: 3px;
}

.homeHeaderDes {
  margin-top: 18px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 0;
}

.homeHeaderBtn {
  background: rgba(117, 179, 255, 0.3);
  border-radius: 30px;
  padding: 14px 16.5px 13px 16.5px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #75b3ff;
  cursor: pointer;
}

.homeRoot .lineRoot {
  display: flex;
  align-items: center;
  margin: 45px 353px 51px 19px;
}

.homeRoot .lineRoot .lineBtn {
  border: none !important;
  margin-right: 110px;
  min-width: 217px;
  height: 52px;
  align-items: center;
}

.homeRoot .lineRoot .lineBtn .childRoot {
  position: absolute;
  top: 54px;
  right: 22px;
  background: #54616f;
  border-radius: 20px;
  border-top-right-radius: 0;
  padding: 5px 10px;
  z-index: 2;
}

.homeRoot .lineRoot .lineBtn .childRoot::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #54616f;
  border-top: 0;
  border-right: 0;
  margin-left: -20px;
  margin-top: -18px;
}

.homeRoot .lineRoot .lineBtn .childRoot .item:last-child {
  border-bottom: none;
}

.homeRoot .lineRoot .lineBtn .childRoot .item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  padding: 15px 12px 15px 9px;
  border-bottom: 1px solid #ffffff1a;
}

.homeRoot .homeHeader .homeBtn {
  margin-top: 38px;
  padding: 14px 18.5px 14px 18.5px !important;
}

.homeRoot .mainContentRoot .inline {
  display: flex;
  margin-bottom: 30px;
}

.homeRoot .mainContentRoot .inline .homeCard:first-child {
  margin-left: 0;
}

.homeRoot .mainContentRoot .inline .homeCard {
  width: 32.3%;
  margin-left: 29px;
}
