.homeRoot {
  padding-left: 29px;
  padding-right: 30px;
}

.homeHeader {
  padding: 2.5px 21px 0 7.2px;
  display: flex;
  justify-content: space-between;
}

.homeHello {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 0;
}

.homeHello img {
  margin-left: 20px;
  margin-bottom: 3px;
}

.homeHeaderDes {
  margin-top: 18px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 0;
}

.homeHeaderBtn {
  background: rgba(117, 179, 255, 0.3);
  border-radius: 30px;
  padding: 14px 16.5px 13px 16.5px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #75b3ff;
  cursor: pointer;
}

.homeRoot .lineRoot {
  display: flex;
  align-items: center;
  margin: 45px 353px 51px 19px;
}

.homeRoot .lineRoot .lineBtn {
  border: none !important;
  margin-right: 110px;
  min-width: 217px;
  height: 52px;
  align-items: center;
}

.homeRoot .lineRoot .lineBtn .childRoot {
  position: absolute;
  top: 54px;
  right: 22px;
  background: #54616f;
  border-radius: 20px;
  border-top-right-radius: 0;
  padding: 5px 10px;
  z-index: 2;
}

.homeRoot .lineRoot .lineBtn .childRoot::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #54616f;
  border-top: 0;
  border-right: 0;
  margin-left: -20px;
  margin-top: -18px;
}

.homeRoot .lineRoot .lineBtn .childRoot .item:last-child {
  border-bottom: none;
}

.homeRoot .lineRoot .lineBtn .childRoot .item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  padding: 15px 12px 15px 9px;
  border-bottom: 1px solid #ffffff1a;
}

.homeRoot .homeHeader .homeBtn {
  margin-top: 38px;
  padding: 14px 18.5px 14px 18.5px !important;
}

.homeRoot .mainContentRoot .inline {
  display: flex;
  margin-bottom: 30px;
}

.homeRoot .mainContentRoot .inline .homeCard:first-child {
  margin-left: 0;
}

.homeRoot .mainContentRoot .inline .homeCard {
  width: 32.3%;
  margin-left: 29px;
}

.homeRoot .newUpdataModalRoot {
  width: 569px;
  background: #41505f;
  border-radius: 20px;
  padding: 30px 40px 27px;
  position: relative;
}

.homeRoot .newUpdataModalRoot .closeIcon {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.homeRoot .newUpdataModalRoot .modalTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
}

.homeRoot .newUpdataModalRoot .modalInputContent {
  margin-top: 30px;
}

.homeRoot .newUpdataModalRoot .modalInputContent .modalItem:last-child {
  margin-bottom: 0;
}

.homeRoot .newUpdataModalRoot .modalInputContent .modalItem {
  width: 100%;
  margin-bottom: 30px;
}

.homeRoot .newUpdataModalRoot .modalInputContent .modalItem .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

.homeRoot .newUpdataModalRoot .modalInputContent .modalItem .inputRoot {
  margin-top: 10px;
  position: relative;
  width: 100%;
  height: 70px;
  padding: 0 14px 0 20px;
  display: flex;
  align-items: center;
}

.homeRoot .newUpdataModalRoot .modalInputContent .modalItem .inputRoot::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 5px;
  background: linear-gradient(90deg, #c7a5ff 0%, #68b3ff 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.homeRoot .newUpdataModalRoot .modalInputContent .modalItem .inputRoot input {
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0 !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #fff;
  flex-grow: 1;
}
.homeRoot
  .newUpdataModalRoot
  .modalInputContent
  .modalItem
  .inputRoot
  input::placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.3);
}
.homeRoot
  .newUpdataModalRoot
  .modalInputContent
  .modalItem
  .inputRoot
  input:focus-visible {
  outline: none;
}
.homeRoot
  .newUpdataModalRoot
  .modalInputContent
  .modalItem
  .inputRoot
  input:focus {
  outline: none;
}

.homeRoot .newUpdataModalRoot .modalInputContent .modalItem .inputRoot .plus {
  font-size: 30px;
  color: #75b3ff;
  margin-right: 16px;
}

.homeRoot
  .newUpdataModalRoot
  .modalInputContent
  .modalItem
  .inputRoot
  .roundBtn {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.homeRoot
  .newUpdataModalRoot
  .modalInputContent
  .modalItem
  .inputRoot
  .roundBtn {
  font-size: 20px;
  color: #75b3ff;
}

.homeRoot .newUpdataModalRoot .addLink {
  margin-top: 20px;
  margin-left: 10px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #75b3ff;
}

.homeRoot .newUpdataModalRoot .updateBtn {
  width: 115px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #75b3ff;
  border-radius: 30px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  cursor: pointer;
  margin: 60px auto 0;
}
