/* Block: cases (BEM) */
.cases {
  padding: 2px 35px 50px 30px;
}

.cases__title {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 21px;
  padding: 0 6px;
  margin-top: 6px;
}

.cases__tabs .actionTabItem {
  padding: 4px !important;
  margin-right: 42px !important;
}

.cases__tabs .actionTabItem:last-child {
  margin-right: 0 !important;
}

.cases__tabs .active {
  margin-bottom: -2px !important;
}

.cases__header {
  padding: 0 16px 0 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cases__primary-btn {
  padding: 14px 20px !important;
  margin-bottom: 2px;
}

.cases__content {
  margin-top: 29px;
  text-align: center;
  overflow: hidden;
  min-height: 900px;
}

.cases__chart-wrap {
  width: 100%;
  min-height: 900px;
  position: relative;
}

.cases__chart-wrap .bubble-chart {
  display: block;
}

.cases__header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cases__search {
  margin-right: 20px;
  padding: 10px 20px 10px 10px !important;
  margin-bottom: 1px;
}
