.checkListsRoot {
  padding: 0 34px 50px 34px;
}
.checkListsTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 18.5px;
  padding: 0 6px;
  margin-top: 5px;
}
.checkListsHeaderRoot {
  padding: 0 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}
.checkListsContainer {
  margin-top: 49px;
}
.checkListsContainerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkListsContainerHeader .firstItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 72px 0 16px;
  flex-grow: 1;
}

.checkListsContainerHeader .firstItem .titleRoot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkListsContainerHeader .firstItem .titleRoot .headerTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.checkListsContainerHeader .firstItem .titleRoot .headerDesRoot {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.checkListsContainerHeader .firstItem .titleRoot .headerDesRoot span {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.9;
}

.checkListsContainerHeader .firstItem .titleRoot .headerDesRoot i {
  color: #75b3ff;
  font-size: 12px;
  line-height: 8px;
  margin-right: 5px;
}
.checkListsContainerHeader .firstItem .completeCount {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
  opacity: 0.9;
}

.checkListsContainerHeader .secondItem {
  display: flex;
  align-items: center;
  padding: 0 0 0 63px;
  width: 446px;
}

.checkListsContainerHeader .secondItem .headerTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.checkListsContainerHeader .secondItem .headerDesRoot {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.checkListsContainerHeader .secondItem .headerDesRoot span {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.9;
}

.checkListsContainerHeader .secondItem .headerDesRoot i {
  color: #75b3ff;
  font-size: 12px;
  line-height: 8px;
  margin-right: 5px;
}
.checkListsContainer .checkListsContent {
  margin-top: 30px;
  display: flex;
}
.checkListsContainer .checkListsContent .firstContent {
  flex-grow: 1;
  padding-right: 42px;
  border-right: 1px solid #75b3ffb2;
}
.checkListsContainer .checkListsContent .firstContent :last-child {
  margin-bottom: 0 !important;
}
.checkListsContainer .checkListsContent .firstContent .checkListsContentItem {
  margin-bottom: 50px;
}
.checkListsContainer
  .checkListsContent
  .firstContent
  .checkListsContentItem
  .checkListsItem {
  margin-bottom: 10px;
}
.checkListsContainer
  .checkListsContent
  .firstContent
  .checkListsContentItem
  .lastCheckListsItem {
  margin-bottom: 18px;
}
.checkListsContainer
  .checkListsContent
  .firstContent
  .checkListsContentItem
  .headerRoot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 30px 0;
  padding: 0 30px 0 16px;
  width: 100%;
}
.checkListsContainer
  .checkListsContent
  .firstContent
  .checkListsContentItem
  .headerRoot
  .titleRoot {
  display: flex;
  align-items: center;
}

.checkListsContainer
  .checkListsContent
  .firstContent
  .checkListsContentItem
  .headerRoot
  .titleRoot
  .headerTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.checkListsContainer
  .checkListsContent
  .firstContent
  .checkListsContentItem
  .headerRoot
  .titleRoot
  .headerDesRoot {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.checkListsContainer
  .checkListsContent
  .firstContent
  .checkListsContentItem
  .headerRoot
  .titleRoot
  .headerDesRoot
  span {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.9;
}

.checkListsContainer
  .checkListsContent
  .firstContent
  .checkListsContentItem
  .headerRoot
  .titleRoot
  .headerDesRoot
  i {
  color: #75b3ff;
  font-size: 12px;
  line-height: 8px;
  margin-right: 5px;
}
.checkListsContainer
  .checkListsContent
  .firstContent
  .checkListsContentItem
  .headerRoot
  .completeCount {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
  opacity: 0.9;
}
.checkListsContainer .checkListsContent .overdueContent {
  width: 446px;
  padding-left: 43px;
}
.checkListsContainer .checkListsContent .overdueContent .checkListShortItem {
  margin-bottom: 20px;
}
.dotGroup {
  cursor: pointer;
}
.dotGroup :last-child {
  margin-bottom: 0 !important;
}
.dot {
  width: 7px;
  min-width: 7px;
  height: 7px;
  min-height: 7px;
  background: #e4e3e380;
  margin-bottom: 2px;
  border-radius: 50%;
}
.addCheckListsBtn {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #75b3ff;
  cursor: pointer;
  margin-left: 129px;
}
