.check-lists {
  padding: 0 34px 50px 34px;
}
.check-lists__title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
  padding: 0 6px;
  margin-top: 5px;
  margin-bottom: 28px;
}
.check-lists__header {
  padding: 0 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.check-lists__container {
  margin-top: 45px;
}
.check-lists__container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.check-lists__container-header .check-lists__part--first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 72px 0 16px;
  flex-grow: 1;
}

.check-lists__container-header .check-lists__part--first .check-lists__title-root {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check-lists__container-header .check-lists__part--first .check-lists__title-root .check-lists__header-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.check-lists__container-header .check-lists__part--first .check-lists__title-root .check-lists__header-description {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.check-lists__container-header .check-lists__part--first .check-lists__title-root .check-lists__header-description span {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.9;
}

.check-lists__container-header .check-lists__part--first .check-lists__title-root .check-lists__header-description i {
  color: #75b3ff;
  font-size: 16px;
  font-weight: 900;
  line-height: 8px;
  margin-right: 5px;
}
.check-lists__container-header .check-lists__part--first .check-lists__complete-count {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
  opacity: 0.9;
}

.check-lists__container-header .check-lists__part--second {
  display: flex;
  align-items: center;
  padding: 0 0 0 63px;
  width: 446px;
}

.check-lists__container-header .check-lists__part--second .check-lists__header-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.check-lists__container-header .check-lists__part--second .check-lists__header-description {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.check-lists__container-header .check-lists__part--second .check-lists__header-description span {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.9;
}

.check-lists__container-header .check-lists__part--second .check-lists__header-description i {
  color: #75b3ff;
  font-size: 16px;
  font-weight: 900;
  line-height: 8px;
  margin-right: 5px;
}
.check-lists__container .check-lists__content {
  margin-top: 30px;
  display: flex;
}
.check-lists__container .check-lists__content .check-lists__left {
  flex-grow: 1;
  padding-right: 42px;
  border-right: 1px solid #75b3ffb2;
}
.check-lists__container .check-lists__content .check-lists__left :last-child {
  margin-bottom: 0 !important;
}
.check-lists__container .check-lists__content .check-lists__left .check-lists__content-item {
  margin-bottom: 50px;
}
.check-lists__container
  .check-lists__content
  .check-lists__left
  .check-lists__content-item
  .check-lists__item {
  margin-bottom: 10px;
}
.check-lists__container
  .check-lists__content
  .check-lists__left
  .check-lists__content-item
  .check-lists__item--last {
  margin-bottom: 20px;
}
.check-lists__container
  .check-lists__content
  .check-lists__left
  .check-lists__content-item
  .check-lists__item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 30px 0;
  padding: 0 30px 0 16px;
  width: 100%;
}
.check-lists__container
  .check-lists__content
  .check-lists__left
  .check-lists__content-item
  .check-lists__item-header
  .check-lists__title-root {
  display: flex;
  align-items: center;
}

.check-lists__container
  .check-lists__content
  .check-lists__left
  .check-lists__content-item
  .check-lists__item-header
  .check-lists__title-root
  .check-lists__header-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.check-lists__container
  .check-lists__content
  .check-lists__left
  .check-lists__content-item
  .check-lists__item-header
  .check-lists__title-root
  .check-lists__header-description {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.check-lists__container
  .check-lists__content
  .check-lists__left
  .check-lists__content-item
  .check-lists__item-header
  .check-lists__title-root
  .check-lists__header-description
  span {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.9;
}

.check-lists__container
  .check-lists__content
  .check-lists__left
  .check-lists__content-item
  .check-lists__item-header
  .check-lists__title-root
  .check-lists__header-description
  i {
  color: #75b3ff;
  font-size: 16px;
  font-weight: 900;
  line-height: 8px;
  margin-right: 5px;
}
.check-lists__container
  .check-lists__content
  .check-lists__left
  .check-lists__content-item
  .check-lists__item-header
  .check-lists__complete-count {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
  opacity: 0.9;
}
.check-lists__container .check-lists__content .check-lists__overdue {
  width: 446px;
  padding-left: 43px;
}
.check-lists__container .check-lists__content .check-lists__overdue .check-lists__short-item {
  margin-bottom: 20px;
}
.check-lists__add-button {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #75b3ff;
  cursor: pointer;
  margin-left: 129px;
}
