.check-lists-long-item {
  height: 80px;
  padding: 0 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  box-shadow: 0px 5px 25px rgba(117, 179, 255, 0.1);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check-lists-long-item .check-lists-long-item__left {
  display: flex;
  align-items: center;
  width: 900px;
  overflow: hidden;
}
.check-lists-long-item .check-lists-long-item__left .check-lists-long-item__circle-icon {
  position: relative;
  width: 34px;
  min-width: 34px;
  height: 34px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.check-lists-long-item .check-lists-long-item__left .check-lists-long-item__circle-icon::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 4px;
  background: linear-gradient(270deg, #6ab4ff 0%, #c2a6ff 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}
.check-lists-long-item .check-lists-long-item__left .check-lists-long-item__title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 20px;
}
.check-lists-long-item .check-lists-long-item__right {
  display: flex;
  align-items: center;
}

.check-lists-long-item .check-lists-long-item__right .check-lists-long-item__right-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 377px;
  margin-right: 20px;
}

.check-lists-long-item .check-lists-long-item__right .check-lists-long-item__right-inner .check-lists-long-item__avatar-root {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 10px;
}

.check-lists-long-item .check-lists-long-item__right .check-lists-long-item__right-inner .check-lists-long-item__avatar-root .check-lists-long-item__avatar {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.check-lists-long-item .check-lists-long-item__right .check-lists-long-item__right-inner .check-lists-long-item__avatar-root .check-lists-long-item__user-name {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
