.checkListsLongItem {
  height: 80px;
  padding: 0 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  box-shadow: 0px 5px 25px rgba(117, 179, 255, 0.1);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkListsLongItem .firstPart {
  display: flex;
  align-items: center;
  width: 900px;
  overflow: hidden;
}
.checkListsLongItem .firstPart .circleIcon {
  position: relative;
  width: 34px;
  min-width: 34px;
  height: 34px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkListsLongItem .firstPart .circleIcon::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 4px;
  background: linear-gradient(270deg, #6ab4ff 0%, #c2a6ff 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}
.checkListsLongItem .firstPart .checkListsTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 20px;
}
.checkListsLongItem .secondPart {
  display: flex;
  align-items: center;
}

.checkListsLongItem .secondPart .secondFirstPart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 377px;
  margin-right: 20px;
}

.checkListsLongItem .secondPart .secondFirstPart .avatarRoot {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 10px;
}

.checkListsLongItem .secondPart .secondFirstPart .avatarRoot .avatar {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.checkListsLongItem .secondPart .secondFirstPart .avatarRoot .userName {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
