/* Block: filter-dropdown (BEM) */

.filter-dropdown {
  display: flex;
  align-items: center;
  padding: 10px 20px 9px 9px;
  background: #ecf0f51a;
  border-radius: 30px;
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
}

.filter-dropdown__icon {
  width: 31px;
  min-width: 31px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin-right: 15px;
  border-radius: 100%;
}

.filter-dropdown__label {
  display: flex;
  align-items: center;
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}

.filter-dropdown__caret {
  margin-left: 5px;
}

.filter-dropdown__panel {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
