.serviceRoot1 {
  display: flex;
}

.serviceRoot1 .relativeServiceRoot {
  width: 871px;
  margin-right: 30px;
}

.serviceRoot1 .relativeServiceRoot .relativeService {
  padding: 30px 26.5px 37px 42px;
  display: flex;
  align-items: center;
  position: relative;
}

.serviceRoot1 .descriptionRoot {
  width: 229.88px;
  margin-right: 16px;
}

.serviceRoot1 .descriptionRoot .descriptionItem:first-child {
  border: none !important;
  padding-top: 0px !important;
}

.serviceRoot1 .descriptionRoot .descriptionItem:last-child {
  padding-bottom: 0 !important;
}

.serviceRoot1 .lineChartRoot {
  flex-grow: 1;
  padding-top: 49.35px;
  height: 323.39px;
}

.serviceRoot1 .relativeServiceRoot .relativeServiceHeader {
  padding: 0 21px;
}

.serviceRoot1 .relativeServiceRoot .relativeServiceHeader .headerContent {
  flex-grow: 1;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 63px;
}

.serviceRoot1 .relativeService .descriptionRoot {
  margin-right: 42px;
}

.serviceRoot1 .descriptionItem {
  border-top: 1px solid rgba(149, 166, 184, 0.1);
}

.serviceRoot1 .relativeService .descriptionItem {
  text-align: left;
}

.serviceRoot1 .descriptionItemTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.7;
}
.serviceRoot1 .descriptionItemCount {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 24px;
  margin-top: 22px;
}

.serviceRoot1 .doughnutChartRoot {
  display: flex;
  margin-left: 25px;
}

.serviceRoot1 .doughnutChartRoot .doughnutChartDes {
  margin-left: 29px;
}

.serviceRoot1 .chartRoot {
  position: relative;
}

.serviceRoot1 .doughnutChartPercent {
  position: absolute;
  top: 46%;
  right: 46%;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.serviceRoot1 .doughnutChartDes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.serviceRoot1 .doughnutChartDesItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.serviceRoot1 .doughnutChartIcon {
  width: 13px;
  min-height: 13px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin-right: 12.64px;
  border-radius: 50px;
}

.serviceRoot1 .doughnutChartItemName {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.serviceRoot1 .relativeServiceRoot .relativeService .toolRoot {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.serviceRoot1 .tagOverTimeRoot {
  flex-grow: 1;
}

.serviceRoot1 .tagOverTimeRoot .tagOverTimeHeader {
  justify-content: space-between;
  padding: 0 10px 0 28px;
}

.serviceRoot1 .tagOverTimeRoot .tagOverTimeHeader .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.serviceRoot1 .tagOverTimeRoot .tagOverTimeHeader .timeTool {
  width: 220px;
}

.serviceRoot1 .tagOverTimeRoot .tagOverTime {
  display: flex;
  justify-content: center;
}

.serviceRoot1 .tagOverTimeRoot .tagOverTime .tagOverTimeLineRoot {
  margin: 73px 0 0;
}

.serviceRoot2 {
  margin-top: 28px;
}

.serviceRoot2 .wordCloudHeader {
  padding: 0 30px;
}

.serviceRoot2 .wordCloudHeader .headerTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.serviceRoot2 .wordCloud {
  padding: 18px 20px 19px;
}

.serviceRoot3 {
  margin-top: 28px;
}

.serviceRoot3 .serviceTableHeader {
  display: flex;
  height: 90px;
  align-items: center;
  padding: 0 31.69px 0 30px;
}

.serviceRoot3 .serviceTableHeader .serviceTableTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 31px;
}
.serviceRoot3 .serviceTableHeader .serviceTableSearchTool {
  flex-grow: 1;
}

.serviceRoot3 .serviceTableHeader .toolEndRoot {
  display: flex;
}

.serviceRoot3 .serviceTableHeader .toolEndRoot .tool {
  margin-left: 20px;
}
