.new-task-modal {
  width: 569px;
  background: #41505f;
  border-radius: 20px;
  padding: 30px 40px;
}
.new-task-modal .new-task-modal__close-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.new-task-modal .new-task-modal__title-input {
  width: 100%;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid transparent;
  background-color: transparent;
  margin-bottom: 55px;
}
.new-task-modal .new-task-modal__title-input::placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.4);
}
.new-task-modal .new-task-modal__title-input:focus-visible {
  outline: none;
}
.new-task-modal .new-task-modal__title-input:focus {
  outline: none;
}
.new-task-modal .new-task-modal__tool-row {
  display: flex;
  width: 100%;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 30px;
}
.new-task-modal .new-task-modal__tool-row .new-task-modal__today-btn {
  margin-left: 21px;
  padding: 9px 16px 8px 16px !important;
  border-radius: 20px !important;
}

.new-task-modal .new-task-modal__tool-row .new-task-modal__tomorrow-btn {
  margin-left: 15px;
  padding: 9px 16px 8px 16px !important;
  border-radius: 20px !important;
}
.new-task-modal .new-task-modal__tool-row .new-task-modal__other-btn {
  margin-left: 15px;
  padding: 10px 17px 9px 20px !important;
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 20px !important;
}
.new-task-modal .new-task-modal__tool-row .new-task-modal__other-btn i {
  color: #ffffff66 !important;
}
.new-task-modal .new-task-modal__tool-row .new-task-modal__calendar-icon {
  margin-right: 10px;
}
.new-task-modal .new-task-modal__tool-row .new-task-modal__participants-btn {
  margin-left: 13px;
  padding: 8px 18px 9px 15px !important;
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 20px !important;
}
.new-task-modal .new-task-modal__tool-row .new-task-modal__participants-btn i {
  margin-left: 10px !important;
  color: #fff;
}
.new-task-modal .new-task-modal__addition-detail {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #75b3ff;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}
.new-task-modal .new-task-modal__addition-detail i {
  font-size: 9px;
  font-weight: 5px;
  color: #75b3ff;
  margin-left: 10px;
}
.new-task-modal .new-task-modal__addition-content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 70px;
}

.new-task-modal .new-task-modal__addition-content .new-task-modal__addition-item {
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.new-task-modal .new-task-modal__addition-content .new-task-modal__addition-item .new-task-modal__item-btn {
  margin-left: 13px;
  padding: 8px 18px 9px 15px !important;
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 20px !important;
}

.new-task-modal .new-task-modal__addition-content .new-task-modal__addition-item .new-task-modal__item-btn i {
  margin-left: 10px !important;
  color: #fff;
}
