.reportsRoot {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.reportsRoot .reportsHeaderRoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reportsRoot .reportsHeaderRoot .reportsHeaderTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
}

.reportsRoot .reportsHeaderRoot .reportsHeaderTab {
  margin-top: 23px;
}

.reportsRoot .reportsHeaderRoot .reportsHeaderEnd {
  display: flex;
}

.reportsRoot .reportsHeaderRoot .reportsHeaderEnd .headerBtn {
  background: rgba(117, 179, 255, 0.3);
  border-radius: 30px;
  padding: 14px 16.5px 13px 16.5px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #75b3ff;
  cursor: pointer;
  margin-left: 30px;
}

.reportsRoot .reportsContent {
  margin-top: 65px;
}

.reportsRoot .reportsContent .item:last-child {
  margin-bottom: 0 !important;
}

.reportsRoot .reportsContent .item {
  margin-bottom: 100px;
}

.reportsRoot .reportsContent .reportsItemTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
}

.reportsRoot .reportsContent .reportsItemRoot {
  margin: 50px auto 0;
  display: flex;
  justify-content: space-between;
  width: 1685px;
  position: relative;
}

.reportsRoot .reportsContent .reportsItemRoot .toolArrow {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: rgba(117, 179, 255, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reportsRoot .reportsContent .reportsItemRoot .toolArrow i {
  color: #fff;
  font-size: 30px;
}

.reportsRoot .reportsContent .reportsItemRoot .left {
  position: absolute;
  left: -80px;
  top: 41%;
}

.reportsRoot .reportsContent .reportsItemRoot .right {
  position: absolute;
  right: -80px;
  top: 41%;
}
