.reports {
  padding-top: 8px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.reports .reports__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 10px;
}

.reports .reports__header .reports__header-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
}

.reports .reports__header .reports__header-tab {
  margin-top: 23px;
}

.reports .reports__header .reports__header-end {
  display: flex;
  margin-top: 5px;
}

.reports .reports__header .reports__header-end .reports__header-btn {
  background: rgba(117, 179, 255, 0.3);
  border-radius: 30px;
  width: 117px;
  height: 52px;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #75b3ff;
  cursor: pointer;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reports .reports__content {
  margin-top: 65px;
}

.reports .reports__content .reports__item:last-child {
  margin-bottom: 0 !important;
}

.reports .reports__content .reports__item {
  margin-bottom: 102px;
}

.reports .reports__content .reports__item-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 10px;
}

.reports .reports__content .reports__item-root {
  margin: 50px auto 0;
  padding-right: 3px;
  display: flex;
  justify-content: space-between;
  width: 1704px;
  position: relative;
}

.reports .reports__content .reports__item-root img {
  height: 537px;
}

.reports .reports__content .reports__item-root .reports__tool-arrow {
  width: 104px;
  min-width: 104px;
  height: 104px;
  border-radius: 50px;
  background: rgba(117, 179, 255, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.reports .reports__content .reports__item-root .reports__tool-arrow i {
  color: #fff;
  font-size: 30px;
}

.reports .reports__content .reports__item-root .reports__tool-arrow--left {
  position: absolute;
  left: -86px;
  top: 40%;
}

.reports .reports__content .reports__item-root .reports__tool-arrow--right {
  position: absolute;
  right: -87px;
  top: 40%;
}
