.search-input {
  display: flex;
  align-items: center;
  padding: 10px 20px 9px 9px;
  background: #ecf0f51a;
  border-radius: 30px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}

.search-input .search-input__icon {
  width: 31px;
  min-width: 31px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin-right: 10px;
  border-radius: 100%;
}

.search-input .search-input__content {
  width: 567px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0 !important;
}
.search-input .search-input__content::placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.4);
}
.search-input .search-input__content:focus-visible {
  outline: none;
}
.search-input .search-input__content:focus {
  outline: none;
}
