.newCheckListsModalRoot {
  width: 569px;
  background: #41505f;
  border-radius: 20px;
  padding: 30px 40px;
}
.newCheckListsModalRoot .modalCloseIcon {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.newCheckListsModalRoot .checkListsTitle {
  width: 100%;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid transparent;
  background-color: transparent;
  margin-bottom: 55px;
}
.newCheckListsModalRoot .checkListsTitle::placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.4);
}
.newCheckListsModalRoot .checkListsTitle:focus-visible {
  outline: none;
}
.newCheckListsModalRoot .checkListsTitle:focus {
  outline: none;
}
.newCheckListsModalRoot .newCheckListsToolRoot {
  display: flex;
  width: 100%;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 30px;
}
.newCheckListsModalRoot .newCheckListsToolRoot .todayBtn {
  margin-left: 21px;
  padding: 9px 16px 8px 16px !important;
  border-radius: 20px !important;
}

.newCheckListsModalRoot .newCheckListsToolRoot .tomorrowBtn {
  margin-left: 15px;
  padding: 9px 16px 8px 16px !important;
  border-radius: 20px !important;
}
.newCheckListsModalRoot .newCheckListsToolRoot .otherBtn {
  margin-left: 15px;
  padding: 10px 17px 9px 20px !important;
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 20px !important;
}
.newCheckListsModalRoot .newCheckListsToolRoot .otherBtn i {
  color: #ffffff66 !important;
}
.newCheckListsModalRoot .newCheckListsToolRoot .calendarIcon {
  margin-right: 10px;
}
.newCheckListsModalRoot .newCheckListsToolRoot .participantsBtn {
  margin-left: 13px;
  padding: 8px 18px 9px 15px !important;
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 20px !important;
}
.newCheckListsModalRoot .newCheckListsToolRoot .participantsBtn i {
  margin-left: 10px !important;
  color: #fff;
}
.newCheckListsModalRoot .additionDetail {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #75b3ff;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}
.newCheckListsModalRoot .additionDetail i {
  font-size: 9px;
  font-weight: 5px;
  color: #75b3ff;
  margin-left: 10px;
}
.newCheckListsModalRoot .additionDetailContent {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 70px;
}

.newCheckListsModalRoot .additionDetailContent .additionDetailItem {
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.newCheckListsModalRoot .additionDetailContent .additionDetailItem .itemBtn {
  margin-left: 13px;
  padding: 8px 18px 9px 15px !important;
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 20px !important;
}

.newCheckListsModalRoot .additionDetailContent .additionDetailItem .itemBtn i {
  margin-left: 10px !important;
  color: #fff;
}
