.networksRoot {
  padding-top: 8px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.networksRoot .networksHeaderRoot {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px 0 10px;
}

.networksRoot .networksHeaderRoot .networksHeaderTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
}

.networksRoot .networksHeaderRoot .networksHeaderTab {
  margin-top: 23px;
}

.networksRoot .networksHeaderRoot .networksHeaderEnd {
  display: flex;
  margin-top: 5px;
}

.networksRoot .networksHeaderRoot .networksHeaderEnd .headerBtn {
  width: 177px;
  height: 50px;
  background: #75b3ff;
  border-radius: 30px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.networksRoot .networksContent {
  margin-top: 30px;
}

.networksRoot .networksContent .networksContent1 {
  display: flex;
}

.networksRoot .networksContent .networksContent1 .networksChart1Root {
  width: 871px;
  margin-right: 30px;
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart1Root
  .networksChart1 {
  padding: 30px 26.5px 37px 42px;
  display: flex;
  align-items: center;
  position: relative;
}

.networksRoot .networksContent .networksContent1 .descriptionRoot {
  width: 250px;
  margin-right: 16px;
}

.networksRoot
  .networksContent
  .networksContent1
  .descriptionRoot
  .descriptionItem:first-child {
  border: none !important;
  padding-top: 0px !important;
}

.networksRoot
  .networksContent
  .networksContent1
  .descriptionRoot
  .descriptionItem:last-child {
  padding-bottom: 0 !important;
}

.networksRoot .networksContent .networksContent1 .lineChartRoot {
  flex-grow: 1;
  padding-top: 49.35px;
  height: 323.39px;
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart1Root
  .networksChart1Header {
  padding: 0 21px;
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart1Root
  .networksChart1Header
  .headerTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart1Root
  .networksChart1Header
  .headerContent {
  flex-grow: 1;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 63px;
  text-align: center;
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart1
  .descriptionRoot {
  margin-right: 42px;
}

.networksRoot .networksContent .networksContent1 .descriptionItem {
  border-top: 1px solid rgba(149, 166, 184, 0.1);
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart1
  .descriptionItem {
  text-align: left;
}

.networksRoot .networksContent .networksContent1 .descriptionItemTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.7;
}
.networksRoot .networksContent .networksContent1 .descriptionItemCount {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 24px;
  margin-top: 22px;
}

.networksRoot .networksContent .networksContent1 .doughnutChartRoot {
  display: flex;
  margin-left: 25px;
}

.networksRoot
  .networksContent
  .networksContent1
  .doughnutChartRoot
  .doughnutChartDes {
  margin-left: 29px;
}

.networksRoot .networksContent .networksContent1 .doughnutChartDes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.networksRoot .networksContent .networksContent1 .doughnutChartDesItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.networksRoot .networksContent .networksContent1 .doughnutChartIcon {
  width: 13px;
  min-height: 13px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin-right: 12.64px;
  border-radius: 50px;
}

.networksRoot .networksContent .networksContent1 .doughnutChartItemName {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart1Root
  .networksChart1
  .toolRoot {
  position: absolute;
  right: 16px;
  bottom: 16px;
  cursor: pointer;
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart1Root
  .networksChart1
  .toolRootDropdown {
  width: 192px;
  border-radius: 20px;
  background: #8097af;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 0;
  padding: 6px 10px;
  position: absolute;
  right: 35px;
  top: 317px;
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart1Root
  .networksChart1
  .toolRootDropdown::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: #8097af;
  border-top: 0;
  border-right: 0;
  margin-left: -13px;
  margin-top: -13px;
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart1Root
  .networksChart1
  .toolRootDropdown
  .searchRoot {
  width: 100%;
  height: 41px;
  background: #788899;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  margin-bottom: 9.5px;
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart1Root
  .networksChart1
  .toolRootDropdown
  .searchRoot
  .round {
  width: 31px;
  min-width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  margin-right: 10px;
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart1Root
  .networksChart1
  .toolRootDropdown
  .searchRoot
  > input {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  flex-grow: 1;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0 !important;
}
.networksRoot
  .networksContent
  .networksContent1
  .networksChart1Root
  .networksChart1
  .toolRootDropdown
  .searchRoot
  > input::placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}
.networksRoot
  .networksContent
  .networksContent1
  .networksChart1Root
  .networksChart1
  .toolRootDropdown
  .searchRoot
  > input:focus-visible {
  outline: none;
}
.networksRoot
  .networksContent
  .networksContent1
  .networksChart1Root
  .networksChart1
  .toolRootDropdown
  .searchRoot
  > input:focus {
  outline: none;
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart1Root
  .networksChart1
  .toolRootDropdown
  .searchRoot
  .round
  i {
  font-size: 13px;
  color: #7c7c7c;
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart1Root
  .networksChart1
  .toolRootDropdown
  .item {
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  cursor: pointer;
}

.networksRoot .networksContent .networksContent1 .networksChart2Root {
  flex-grow: 1;
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart2Root
  .networksChart2Header {
  justify-content: space-between;
  padding: 0 10px 0 28px;
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart2Root
  .networksChart2Header
  .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart2Root
  .networksChart2Header
  .timeTool {
  width: 220px;
}

.networksRoot
  .networksContent
  .networksContent1
  .networksChart2Root
  .networksChart2 {
  display: flex;
  justify-content: center;
}

.networksRoot .networksContent .networksContent2 {
  margin-top: 28px;
}

.networksRoot .networksContent .networksContent2 .networksTableHeader {
  display: flex;
  height: 90px;
  align-items: center;
  padding: 0 31.69px 0 30px;
}

.networksRoot
  .networksContent
  .networksContent2
  .networksTableHeader
  .networksTableTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 31px;
}
.networksRoot
  .networksContent
  .networksContent2
  .networksTableHeader
  .networksTableSearchTool {
  flex-grow: 1;
}

.networksRoot
  .networksContent
  .networksContent2
  .customizeTable
  thead
  tr
  th:nth-child(1) {
  width: 376px;
  margin-right: 36px;
  text-align: center !important;
}

.networksRoot
  .networksContent
  .networksContent2
  .customizeTable
  tbody
  tr
  td:nth-child(1) {
  text-align: center !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 18px;
  color: #ffffff;
}

.networksRoot
  .networksContent
  .networksContent2
  .customizeTable
  thead
  tr
  th:nth-child(2) {
  width: 421px;
}

.networksRoot
  .networksContent
  .networksContent2
  .customizeTable
  tbody
  tr
  td:nth-child(2) {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.networksRoot
  .networksContent
  .networksContent2
  .customizeTable
  thead
  tr
  th:nth-child(3) {
  width: 359px;
}

.networksRoot
  .networksContent
  .networksContent2
  .customizeTable
  tbody
  tr
  td:nth-child(3) {
  text-align: center;
}

.networksRoot
  .networksContent
  .networksContent2
  .customizeTable
  tbody
  tr
  td:nth-child(3)
  .imageRoot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.networksRoot
  .networksContent
  .networksContent2
  .customizeTable
  tbody
  tr
  td:nth-child(3)
  .imageRoot
  .big {
  width: 50px;
  height: 50px;
}

.networksRoot
  .networksContent
  .networksContent2
  .customizeTable
  tbody
  tr
  td:nth-child(3)
  .imageRoot
  .small {
  width: 30px;
  height: 30px;
}

.networksRoot
  .networksContent
  .networksContent2
  .customizeTable
  thead
  tr
  th:nth-child(4) {
  width: 334px;
}

.networksRoot
  .networksContent
  .networksContent2
  .customizeTable
  tbody
  tr
  td:nth-child(4) {
  text-align: center;
}

.networksRoot
  .networksContent
  .networksContent2
  .customizeTable
  tbody
  tr
  td:nth-child(4)
  .active {
  width: 113px;
  height: 44px;
  background: #2d452f;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #37ce4a;
}

.networksRoot
  .networksContent
  .networksContent2
  .customizeTable
  tbody
  tr
  td:nth-child(4)
  .inactive {
  width: 113px;
  height: 44px;
  background: #472d4d;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fd6767;
}

.networksRoot
  .networksContent
  .networksContent2
  .customizeTable
  thead
  tr
  th:nth-child(5) {
  width: 336px;
}

.networksRoot
  .networksContent
  .networksContent2
  .customizeTable
  tbody
  tr
  td:nth-child(5) {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
