.investigationRoot {
  padding-top: 7px;
  padding-left: 32px;
  padding-right: 33px;
  padding-bottom: 30px;
}

.investigationRoot .investigationHeaderRoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 6px;
}

.investigationRoot .investigationHeaderRoot .investigationHeaderTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
}

.investigationRoot .investigationHeaderRoot .investigationHeaderTab {
  margin-top: 36px;
}

.investigationRoot .investigationContent {
  margin-top: 30px;
}

.investigationRoot .investigationContent .investigationContent1 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 0 40px;
}

.investigationRoot .investigationContent .investigationContent1 .dropdown {
  width: 204px;
  margin-right: 30px;
}

.investigationRoot .investigationContent .investigationContent1 .inputRoot {
  flex-grow: 1;
  background: rgba(15, 18, 26, 0.4);
  border-radius: 70px;
  display: flex;
  align-items: center;
  height: 73px;
  padding: 0 25px 0 15px;
}

.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  > img {
  margin-right: 12px;
  width: 19px;
  height: 19px;
}

.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  input {
  flex-grow: 1;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0 !important;
}
.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  input::placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  input:focus-visible {
  outline: none;
}
.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  input:focus {
  outline: none;
}

.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  .divline {
  height: 73px;
  width: 1px;
  background: #ffffff33;
  margin: 0 10px;
}

.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  .searchDropdown {
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ececf1;
}

.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  .searchDropdown
  i {
  margin-left: 10px;
  font-size: 20px;
  color: #ececf1;
}

.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  .searchBtn {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
}

.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  .searchBtn
  > img {
  width: 17.25px;
  height: 17.25px;
}

.investigationRoot .investigationContent .investigationContent2 {
  display: flex;
  margin-top: 30px;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalsysRoot {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 16px;
  width: 930px;
  padding: 30px 24px 30px 30px;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalsysRoot
  .headerRoot {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 31px;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalsysRoot
  .headerRoot
  .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalsysRoot
  .headerRoot
  .viewDetail {
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #75b3ff;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalsysRoot
  .headerRoot
  .viewDetail
  i {
  margin-left: 5px;
  color: #75b3ff;
  font-size: 16px;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalsysRoot
  .nameRoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalsysRoot
  .nameRoot
  .front {
  display: flex;
  align-items: center;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalsysRoot
  .nameRoot
  .front
  > img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalsysRoot
  .nameRoot
  .front
  .name {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 24px;
  color: #ffffff;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalsysRoot
  .nameRoot
  .front
  .socialnameRoot {
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #75b3ff;
  margin-top: 10px;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalsysRoot
  .nameRoot
  .front
  .socialnameRoot
  > i {
  font-size: 18px;
  color: #1da1f2;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalsysRoot
  .nameRoot
  .end {
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalsysRoot
  .nameRoot
  .end
  > i {
  width: 16px;
  color: #fff;
  margin-right: 7.75px;
}
