.investigationRoot {
  padding-top: 7px;
  padding-left: 32px;
  padding-right: 33px;
  padding-bottom: 30px;
}

.investigationRoot .investigationHeaderRoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 6px;
}

.investigationRoot .investigationHeaderRoot .investigationHeaderTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
}

.investigationRoot .investigationHeaderRoot .investigationHeaderTab {
  margin-top: 36px;
}

.investigationRoot .investigationContent {
  margin-top: 30px;
}
