.investigationRoot {
  padding-top: 7px;
  padding-left: 32px;
  padding-right: 33px;
  padding-bottom: 30px;
}

.investigationRoot .investigationHeaderRoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 6px;
}

.investigationRoot .investigationHeaderRoot .investigationHeaderTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
}

.investigationRoot .investigationHeaderRoot .investigationHeaderTab {
  margin-top: 36px;
}

.investigationRoot .investigationContent {
  margin-top: 30px;
}

.investigationRoot .investigationContent .investigationContent1 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 0 40px;
}

.investigationRoot .investigationContent .investigationContent1 .dropdown {
  width: 204px;
  margin-right: 30px;
}

.investigationRoot .investigationContent .investigationContent1 .inputRoot {
  flex-grow: 1;
  background: rgba(15, 18, 26, 0.4);
  border-radius: 70px;
  display: flex;
  align-items: center;
  height: 73px;
  padding: 0 25px 0 15px;
}

.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  > img {
  margin-right: 12px;
  width: 19px;
  height: 19px;
}

.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  input {
  flex-grow: 1;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0 !important;
}
.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  input::placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  input:focus-visible {
  outline: none;
}
.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  input:focus {
  outline: none;
}

.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  .divline {
  height: 73px;
  width: 1px;
  background: #ffffff33;
  margin: 0 10px;
}

.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  .searchDropdown {
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ececf1;
}

.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  .searchDropdown
  i {
  margin-left: 10px;
  font-size: 20px;
  color: #ececf1;
}

.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  .searchBtn {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
}

.investigationRoot
  .investigationContent
  .investigationContent1
  .inputRoot
  .searchBtn
  > img {
  width: 17.25px;
  height: 17.25px;
}

.investigationRoot .investigationContent .investigationContent2 {
  display: flex;
  margin-top: 30px;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 16px;
  width: 930px;
  padding: 30px 24px 30px 30px;
  margin-right: 30px;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .headerRoot {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 31px;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .headerRoot
  .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .headerRoot
  .viewDetail {
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #75b3ff;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .headerRoot
  .viewDetail
  i {
  margin-left: 5px;
  color: #75b3ff;
  font-size: 16px;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .nameRoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .nameRoot
  .front {
  display: flex;
  align-items: center;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .nameRoot
  .front
  > img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .nameRoot
  .front
  .name {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 24px;
  color: #ffffff;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .nameRoot
  .front
  .socialnameRoot {
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #75b3ff;
  margin-top: 10px;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .nameRoot
  .front
  .socialnameRoot
  > i {
  font-size: 18px;
  color: #1da1f2;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .nameRoot
  .end {
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .nameRoot
  .end
  > i {
  width: 16px;
  color: #fff;
  margin-right: 7.75px;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .bio {
  margin-top: 41px;
  margin-left: 20px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .bioRoot {
  width: 100%;
  margin-top: 30px;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .bioRoot
  .itemRoot:last-child {
  margin-bottom: 0 !important;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .bioRoot
  .itemRoot {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .bioRoot
  .itemRoot
  .biocardRoot
  .biocardDes {
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #37ce4a;
  justify-content: center;
  margin-top: 15px;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .userAnalysisRoot
  .bioRoot
  .itemRoot
  .biocardRoot
  .biocardDes
  i {
  font-size: 24px;
  line-height: 20px;
  color: #37ce4a;
}

.investigationRoot .investigationContent .investigationContent2 .linkAnalisys {
  flex-grow: 1;
  padding: 30;
}

.investigationRoot
  .investigationContent
  .investigationContent2
  .linkAnalisys
  .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.investigationRoot .investigationContent .investigationContent3 {
  display: flex;
  margin-top: 30px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot {
  width: 930px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 16px;
  padding: 32px 30px 30px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .searchRoot {
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
  background: rgba(15, 18, 26, 0.4);
  border-radius: 30px;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-top: 29px;
  padding: 0 8px 0 20px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .searchRoot
  input {
  flex-grow: 1;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0 !important;
}
.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .searchRoot
  input::placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #fff;
}
.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .searchRoot
  input:focus-visible {
  outline: none;
}
.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .searchRoot
  input:focus {
  outline: none;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .searchRoot
  .searchBtn {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .searchRoot
  .searchBtn
  > img {
  width: 17.25px;
  height: 17.25px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot {
  margin-top: 29px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.15));
  border-radius: 16px;
  padding: 30px 30px 44px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postHeaderRoot {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postHeaderRoot
  .front {
  display: flex;
  align-items: center;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postHeaderRoot
  .front
  img {
  width: 59px;
  height: 59px;
  margin-right: 20px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postHeaderRoot
  .front
  div
  .nameRoot {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postHeaderRoot
  .front
  div
  .nameRoot
  .id {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin-left: 23px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postHeaderRoot
  .front
  div
  .time {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin-top: 3.73px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postHeaderRoot
  .social {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  display: flex;
  width: 145.19px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postHeaderRoot
  .social
  img {
  margin-right: 10px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postContent {
  width: 100%;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 20px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postPercentRoot {
  display: flex;
  width: 100%;
  margin-top: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.15));
  border-radius: 16px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postPercentRoot
  .item:last-child {
  border-right: none;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postPercentRoot
  .item {
  height: 134px;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postPercentRoot
  .item
  .itemContainer {
  text-align: left;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postPercentRoot
  .item
  .itemContainer
  .itemHeader {
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  color: #ffffff;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postPercentRoot
  .item
  .itemContainer
  .itemHeader
  img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postPercentRoot
  .item
  .itemContainer
  .itemDes {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #ffffff;
  margin-top: 10px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postPercentRoot
  .item
  .itemContainer
  .itemPercenRoot {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postPercentRoot
  .item
  .itemContainer
  .itemPercenRoot
  .percent_line {
  height: 5px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .postAnalysisRoot
  .postContentRoot
  .postPercentRoot
  .item
  .itemContainer
  .itemPercenRoot
  .white_line {
  flex-grow: 1;
  height: 5px;
  background: #fff;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot {
  margin-left: 30px;
  flex-grow: 1;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 16px;
  padding: 30px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashSelect {
  margin-top: 30px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot1 {
  margin-top: 30px;
  display: flex;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot1
  .hashtagChartCard1 {
  width: 413.21px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot1
  .hashtagChartCard2 {
  margin-left: 43.79px;
  flex-grow: 1;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot2 {
  margin-top: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 20.5px 0 20px 38px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot2
  .title {
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot2
  .title
  i {
  font-size: 20px;
  color: #fff;
  margin-left: 10.75px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot2
  .influencerContent {
  margin-top: 52.5px;
  margin-left: 4px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot2
  .influencerContent
  .item:last-child {
  margin-bottom: 0;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot2
  .influencerContent
  .item {
  display: flex;
  align-items: flex-end;
  margin-bottom: 29px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot2
  .influencerContent
  .item
  > img {
  width: 66px;
  height: 66px;
  margin-right: 19px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot2
  .influencerContent
  .item
  .desRoot {
  width: 245px;
  margin-bottom: 5px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot2
  .influencerContent
  .item
  .desRoot
  .name {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot2
  .influencerContent
  .item
  .desRoot
  .sizeRoot {
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin-top: 10px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot2
  .influencerContent
  .item
  .desRoot
  .sizeRoot
  span {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff80;
  margin-left: 5px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot2
  .influencerContent
  .item
  .analysisRoot {
  width: 398px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot2
  .influencerContent
  .item
  .analysisRoot
  .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  color: #ffffff;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot2
  .influencerContent
  .item
  .analysisRoot
  .lineRoot {
  width: 100%;
  height: 12px;
  background: #ffffff;
  border-radius: 32px;
  display: flex;
  margin-top: 18px;
}

.investigationRoot
  .investigationContent
  .investigationContent3
  .hashtagAnalysisRoot
  .hashtagAnalysisRoot2
  .influencerContent
  .item
  .analysisRoot
  .lineRoot
  .mainLine {
  height: 12px;
  background: #75b3ff;
  border-radius: 32px;
}
