/* Block: database-search-input (BEM) */

.database-search-input {
  background: rgba(15, 18, 26, 0.4);
  border-radius: 50px;
  padding: 0 15px 0 25px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 550px;
}

.database-search-input__field {
  display: flex;
  align-items: center;
}

.database-search-input__icon {
  flex-shrink: 0;
}

.database-search-input__input {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0 !important;
  margin-left: 10px;
}

.database-search-input__input::placeholder {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.database-search-input__input:focus,
.database-search-input__input:focus-visible {
  outline: none;
}

.database-search-input__trigger {
  width: 43px;
  height: 43px;
  padding: 0;
  border: none;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  font: inherit;
  color: inherit;
}
