.databaseSearchInputRoot {
  background: rgba(15, 18, 26, 0.4);
  border-radius: 50px;
  padding: 0 15px 0 25px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 550px;
}

.databaseSearchInputRoot .front {
  display: flex;
  align-items: center;
}

.databaseSearchInputRoot .front .databaseSearchInput {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0 !important;
  margin-left: 10px;
}
.databaseSearchInputRoot .front .databaseSearchInput::placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.databaseSearchInputRoot .front .databaseSearchInput:focus-visible {
  outline: none;
}
.databaseSearchInputRoot .front .databaseSearchInput:focus {
  outline: none;
}

.databaseSearchInputRoot .databaseSearchInputDropdown {
  width: 43px;
  height: 43px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
}
