.nrds-basic__chart {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  border: 2px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
}

.nrds-basic__chart .nrds-basic__chart-header {
  display: flex;
  align-items: center;
  height: 66px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nrds-basic__chart .nrds-basic__chart-header .nrds-basic__database-section {
  padding: 0 10px 0 30px;
  width: 52.8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nrds-basic__chart .nrds-basic__chart-header .nrds-basic__database-section .nrds-basic__chart-tools {
  display: flex;
}

.nrds-basic__chart .nrds-basic__chart-header .nrds-basic__database-section .nrds-basic__chart-tools .nrds-basic__period-btn {
  margin-right: 30px;
  padding: 7px 20px 7px 20px;
  position: relative;
}

.nrds-basic__chart .nrds-basic__chart-header .nrds-basic__database-section .nrds-basic__chart-tools .nrds-basic__period-btn i {
  margin-left: 12px !important;
}

.nrds-basic__chart
  .nrds-basic__chart-header
  .nrds-basic__database-section
  .nrds-basic__chart-tools
  .nrds-basic__period-btn
  .nrds-basic__period-dropdown {
  position: absolute;
  top: 63px;
  right: 20px;
  background: #8097af;
  border-radius: 10px;
  border-top-right-radius: 0;
  padding: 5px 10px;
}

.nrds-basic__chart
  .nrds-basic__chart-header
  .nrds-basic__database-section
  .nrds-basic__chart-tools
  .nrds-basic__period-btn
  .nrds-basic__period-dropdown::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-bottom-color: #8097af;
  border-top: 0;
  border-right: 0;
  margin-left: -13px;
  margin-top: -10px;
}

.nrds-basic__chart
  .nrds-basic__chart-header
  .nrds-basic__database-section
  .nrds-basic__chart-tools
  .nrds-basic__period-btn
  .nrds-basic__period-dropdown
  .nrds-basic__period-dropdown-item:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

.nrds-basic__chart
  .nrds-basic__chart-header
  .nrds-basic__database-section
  .nrds-basic__chart-tools
  .nrds-basic__period-btn
  .nrds-basic__period-dropdown
  .nrds-basic__period-dropdown-item {
  width: 172px;
  display: flex;
  justify-content: flex-start;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  padding: 10px 0 16px 5px;
  border-bottom: 1px solid #ffffff1a;
}

.nrds-basic__chart .nrds-basic__chart-header .nrds-basic__database-section .nrds-basic__chart-tools .nrds-basic__compare-btn {
  padding: 10.5px 23px 10.5px 20px !important;
}

.nrds-basic__chart .nrds-basic__chart-header .nrds-basic__database-section .nrds-basic__chart-tools .nrds-basic__compare-btn i {
  margin-left: 12px !important;
}

.nrds-basic__chart .nrds-basic__chart-header .nrds-basic__cases-section {
  padding: 0 11px 0 30px;
  flex-grow: 1;
}

.nrds-basic__chart .nrds-basic__chart-header .nrds-basic__database-section .nrds-basic__header-item-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 11px;
}

.nrds-basic__chart .nrds-basic__chart-header .nrds-basic__cases-section .nrds-basic__header-item-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 11px;
}

.nrds-basic__chart .nrds-basic__chart-content {
  display: flex;
}

.nrds-basic__chart .nrds-basic__chart-content .nrds-basic__database-section {
  padding: 31.5px 0 36px 40.5px;
  width: 52.8%;
  display: flex;
  border-right: 2px solid rgba(149, 166, 184, 0.4);
}

.nrds-basic__chart .nrds-basic__chart-content .nrds-basic__cases-section {
  padding: 30px 26.5px 30px 50px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nrds-basic__chart .nrds-basic__description {
  width: 229.88px;
  margin-right: 16px;
}

.nrds-basic__chart .nrds-basic__description .nrds-basic__description-item:first-child {
  border: none !important;
  padding-top: 0 !important;
}

.nrds-basic__chart .nrds-basic__description .nrds-basic__description-item:last-child {
  padding-bottom: 0 !important;
}

.nrds-basic__chart .nrds-basic__line-chart {
  flex-grow: 1;
  padding-top: 45px;
  height: 323.39px;
}

.nrds-basic__chart .nrds-basic__cases-section .nrds-basic__description {
  margin-right: 80px;
}

.nrds-basic__chart .nrds-basic__description-item {
  border-top: 1px solid rgba(149, 166, 184, 0.1);
}

.nrds-basic__chart .nrds-basic__cases-section .nrds-basic__description-item {
  padding: 17px 0 22px 0;
}

.nrds-basic__chart .nrds-basic__description-item-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
  opacity: 0.7;
}
.nrds-basic__chart .nrds-basic__description-item-count {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 24px;
  margin-top: 20px;
}

.nrds-basic__chart .nrds-basic__doughnut {
  display: flex;
}
.nrds-basic__chart .nrds-basic__chart-root {
  position: relative;
}

.nrds-basic__chart .nrds-basic__doughnut-percent {
  position: absolute;
  top: 46%;
  right: 46%;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.nrds-basic__chart .nrds-basic__doughnut-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nrds-basic__chart .nrds-basic__doughnut-desc-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.nrds-basic__chart .nrds-basic__doughnut-icon {
  width: 12px;
  min-height: 12px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin-right: 12.64px;
  border-radius: 50px;
}

.nrds-basic__chart .nrds-basic__doughnut-item-name {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.nrds-basic__chart .nrds-basic__second-part {
  display: flex;
  margin-top: 30px;
  margin-bottom: 27px;
}
.nrds-basic__table .nrds-basic__table-header {
  padding: 20px 20px 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nrds-basic__table .nrds-basic__table-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}
.nrds-basic__table .nrds-basic__table-tools {
  display: flex;
  align-items: center;
}

.nrds-basic__table .nrds-basic__table-search {
  margin-right: 18px;
}

.nrds-basic__table .nrds-basic__table-search .nrds-basic__search-dropdown {
  position: absolute;
  top: 63px;
  right: -20px;
  background: #8097af;
  border-radius: 10px;
  padding: 5px 10px;
}

.nrds-basic__table .nrds-basic__table-search .nrds-basic__search-dropdown ::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #8097af;
  border-top: 0;
  margin-right: 25px;
  margin-top: -18px;
}

.nrds-basic__table
  .nrds-basic__table-search
  .nrds-basic__search-dropdown
  .nrds-basic__search-dropdown-item:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

.nrds-basic__table .nrds-basic__table-search .nrds-basic__search-dropdown .nrds-basic__search-dropdown-item {
  width: 172px;
  display: flex;
  justify-content: flex-start;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  padding: 10px 0 16px 5px;
  border-bottom: 1px solid #ffffff1a;
}

.nrds-basic__table .nrds-basic__td--first {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 18px;
  cursor: pointer;
  color: #75b3ff;
}

.nrds-basic__table .nrds-basic__td--second {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.nrds-basic__table .nrds-basic__td--third {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #75b3ff;
}
.nrds-basic__table .nrds-basic__td--fourth {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
}
.nrds-basic__table .nrds-basic__td--fifth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nrds-basic__table .nrds-basic__td--fifth .nrds-basic__add-btn {
  margin-right: 30px;
  padding: 14px 20px 13px 20px !important;
}

.nrds-basic__table .nrds-basic__td--fifth .nrds-basic__des {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #75b3ff;
}

.nrds-basic__domain-modal {
  width: 1500px;
  background: linear-gradient(180deg, #343d49 0%, #336497 100%);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 30px 30px 20px;
}

.nrds-basic__domain-modal > img {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
}

.nrds-basic__domain-modal .nrds-basic__dot-btn {
  position: absolute;
  top: 30px;
  right: 70px;
  z-index: 2;
}

.nrds-basic__domain-modal .nrds-basic__dot-btn .three-dot-btn__dot {
  background: #fff !important;
  min-width: 5px;
  width: 5px;
  height: 5px;
  min-height: 5px;
}

.nrds-basic__domain-modal .nrds-basic__main {
  display: flex;
  align-items: flex-end;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__left {
  width: 650px;
  min-width: 650px;
  height: 650px;
  border: 3px dashed #ffffff;
  border-radius: 40px;
  margin: 0 50px 37px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ffffff;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__divider {
  width: 2px;
  height: 688px;
  background: #ffffff33;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right {
  padding-left: 30px;
  flex-grow: 1;
  text-align: left;
  position: relative;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right .nrds-basic__modal-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right .nrds-basic__right-row {
  display: flex;
  align-items: center;
  margin-top: 34px;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right .nrds-basic__right-row .nrds-basic__right-row-item {
  width: 323px;
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right .nrds-basic__cases-section {
  margin-top: 76px;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right .nrds-basic__cases-section .nrds-basic__modal-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right .nrds-basic__cases-section .nrds-basic__case-card {
  position: relative;
  margin-top: 30px;
  display: flex;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px 20px 10px;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right .nrds-basic__cases-section .nrds-basic__case-card > img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right .nrds-basic__cases-section .nrds-basic__case-card .nrds-basic__case-card-inner {
  width: 506px;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right .nrds-basic__cases-section .nrds-basic__case-card .nrds-basic__case-card-inner .nrds-basic__des {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.nrds-basic__domain-modal
  .nrds-basic__main
  .nrds-basic__right
  .nrds-basic__cases-section
  .nrds-basic__case-card
  .nrds-basic__case-card-inner
  .nrds-basic__des-date {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 19px;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right .nrds-basic__cases-section .nrds-basic__case-card .nrds-basic__dot-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right .nrds-basic__comment-section {
  margin-top: 78px;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right .nrds-basic__comment-section .nrds-basic__modal-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right .nrds-basic__comment-section .nrds-basic__comment-card {
  margin-top: 28px;
  height: 297px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 30px 33px;
  position: relative;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right .nrds-basic__comment-section .nrds-basic__comment-card .nrds-basic__dot-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right .nrds-basic__comment-section .nrds-basic__comment-card .nrds-basic__dot-btn .three-dot-btn__dot {
  width: 5px;
  min-width: 5px;
  height: 5px;
  min-height: 5px;
  background: #fff !important;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right .nrds-basic__comment-section .nrds-basic__comment-card textarea {
  width: 550px;
  height: 110px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0 !important;
  resize: none;
}
.nrds-basic__domain-modal
  .nrds-basic__main
  .nrds-basic__right
  .nrds-basic__comment-section
  .nrds-basic__comment-card
  textarea::placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}
.nrds-basic__domain-modal
  .nrds-basic__main
  .nrds-basic__right
  .nrds-basic__comment-section
  .nrds-basic__comment-card
  textarea:focus-visible {
  outline: none;
}
.nrds-basic__domain-modal
  .nrds-basic__main
  .nrds-basic__right
  .nrds-basic__comment-section
  .nrds-basic__comment-card
  textarea:focus {
  outline: none;
}

.nrds-basic__domain-modal .nrds-basic__main .nrds-basic__right .nrds-basic__comment-section .nrds-basic__comment-card .nrds-basic__post-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 81px;
  height: 34px;
  background: #75b3ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}
