/* Block: customize-table (BEM) */

.customize-table {
  margin-top: 30px;
  margin-bottom: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 16px;
}

.customize-table__table {
  width: 100%;
}

.customize-table__table thead {
  background: rgba(117, 179, 255, 0.1);
}

.customize-table__table thead tr th:first-child {
  padding-left: 50px;
  text-align: left;
}

.customize-table__table thead th {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  height: 50px;
}

.customize-table__table tbody tr {
  border: 2px solid rgba(143, 146, 161, 0.1);
}

.customize-table__table tbody tr td:first-child {
  padding-left: 50px;
  text-align: left !important;
}

.customize-table__table tbody td {
  text-align: center;
  height: 88px;
}

.customize-table__pagination {
  padding: 30px 0;
}

.customize-table__pagination-inner {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.customize-table__nav {
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

.customize-table__nav--prev {
  margin-right: 99px;
}

.customize-table__nav--prev span {
  padding-bottom: 3px;
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #75b3ff;
  border-bottom: solid 1.5px #75b3ff;
}

.customize-table__nav--prev img {
  margin-right: 5px;
  margin-bottom: 4.5px;
}

.customize-table__nav--next {
  margin-left: 99px;
}

.customize-table__nav--next span {
  padding-bottom: 3px;
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #75b3ff;
  border-bottom: solid 1.5px #75b3ff;
}

.customize-table__nav--next img {
  margin-left: 5px;
  margin-bottom: 4.5px;
  transform: rotate(180deg);
}

.customize-table__pages {
  display: flex;
  align-items: center;
  width: fit-content;
}

.customize-table__page {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #75b3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  width: 40px;
  min-height: 40px;
  height: 40px;
  cursor: pointer;
}

.customize-table__page--active {
  color: #fff;
  border-radius: 50%;
  background: #75b3ff;
}
