.hashtag-chart-card {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 31px 29px 29px 30px;
}

.hashtag-chart-card .hashtag-chart-card__title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 16px;
  color: #ffffff;
}

.hashtag-chart-card .hashtag-chart-card__body {
  margin-top: 31px;
  display: flex;
}

.hashtag-chart-card .hashtag-chart-card__body .hashtag-chart-card__desc {
  flex-grow: 1;
  text-align: left;
}

.hashtag-chart-card .hashtag-chart-card__body .hashtag-chart-card__desc .hashtag-chart-card__size {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #ffffff;
}

.hashtag-chart-card .hashtag-chart-card__body .hashtag-chart-card__desc .hashtag-chart-card__desc-size {
  display: flex;
  align-items: center;
  color: #37ce4a;
  margin-top: 33px;
}

.hashtag-chart-card .hashtag-chart-card__body .hashtag-chart-card__desc .hashtag-chart-card__desc-size i {
  margin-right: 3px;
  font-size: 20px;
}

.hashtag-chart-card .hashtag-chart-card__body .hashtag-chart-card__chart {
  display: flex;
  align-items: flex-end;
  height: 98.67px;
}

.hashtag-chart-card .hashtag-chart-card__body .hashtag-chart-card__chart .hashtag-chart-card__chart-item:last-child {
  margin-right: 0;
}

.hashtag-chart-card .hashtag-chart-card__body .hashtag-chart-card__chart .hashtag-chart-card__chart-item {
  width: 36.61px;
  margin-right: 6.97px;
  border-radius: 4px;
}
