.tasks {
  padding: 0 35px 50px 35px;
}
.tasks__title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 30.5px;
  padding: 0 6px;
  margin-top: 5px;
}
.tasks__header {
  padding: 0 12px 0 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks__container {
  margin-top: 42.5px;
}
.tasks__container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks__container-header .tasks__container-header-item--first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
  width: 250px;
}

.tasks__container-header .tasks__container-header-item--first .tasks__header-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.tasks__container-header .tasks__container-header-item--first .tasks__header-desc {
  display: flex;
  align-items: center;
}

.tasks__container-header .tasks__container-header-item--first .tasks__header-desc span {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.9;
}

.tasks__container-header .tasks__container-header-item--first .tasks__header-desc i {
  color: #75b3ff;
  font-size: 16px;
  font-weight: 900;
  line-height: 8px;
  margin-right: 5px;
}
.tasks__container-header .tasks__container-header-item--second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.tasks__container-header .tasks__container-header-item--second .tasks__header-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.tasks__container-header .tasks__container-header-item--second .tasks__header-desc {
  display: flex;
  align-items: center;
  margin-left: 158px;
}

.tasks__container-header .tasks__container-header-item--second .tasks__header-desc span {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.9;
}

.tasks__container-header .tasks__container-header-item--second .tasks__header-desc i {
  color: #75b3ff;
  font-size: 16px;
  font-weight: 900;
  line-height: 8px;
  margin-right: 5px;
}
.tasks__container .tasks__content {
  margin-top: 32px;
  display: flex;
}
.tasks__container .tasks__content .tasks__content-left {
  flex-grow: 1;
  padding-right: 42px;
  border-right: 1px solid #75b3ffb2;
}
.tasks__container .tasks__content .tasks__content-left :last-child {
  margin-bottom: 0 !important;
}
.tasks__container .tasks__content .tasks__content-left .tasks__content-item {
  margin-bottom: 50px;
}
.tasks__container .tasks__content .tasks__content-left .tasks__content-item .tasks__item {
  margin-bottom: 10px;
}
.tasks__container .tasks__content .tasks__content-left .tasks__content-item .tasks__item--last {
  margin-bottom: 22px;
}
.tasks__container .tasks__content .tasks__content-left .tasks__content-item .tasks__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px 30px 16px;
  width: 250px;
}

.tasks__container
  .tasks__content
  .tasks__content-left
  .tasks__content-item
  .tasks__item-header
  .tasks__header-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.tasks__container
  .tasks__content
  .tasks__content-left
  .tasks__content-item
  .tasks__item-header
  .tasks__header-desc {
  display: flex;
  align-items: center;
}

.tasks__container
  .tasks__content
  .tasks__content-left
  .tasks__content-item
  .tasks__item-header
  .tasks__header-desc
  span {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.9;
}

.tasks__container
  .tasks__content
  .tasks__content-left
  .tasks__content-item
  .tasks__item-header
  .tasks__header-desc
  i {
  color: #75b3ff;
  font-size: 16px;
  font-weight: 900;
  line-height: 8px;
  margin-right: 5px;
}
.tasks__container .tasks__content .tasks__overdue {
  width: 446px;
  padding-left: 43px;
}
.tasks__container .tasks__content .tasks__overdue .tasks__overdue-item {
  margin-bottom: 20px;
}
.tasks__add-btn {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #75b3ff;
  cursor: pointer;
  margin-left: 142px;
}
