.databaseRoot {
  padding-top: 7px;
  padding-left: 32px;
  padding-right: 33px;
  padding-bottom: 30px;
}

.databaseRoot .databaseHeaderRoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 6px;
}

.databaseRoot .databaseHeaderRoot .databaseHeaderTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
}

.databaseRoot .databaseHeaderRoot .databaseHeaderTab {
  margin-top: 36px;
}

.databaseRoot .databaseContent {
  margin-top: 30px;
}

.databaseRoot .databaseContent .databaseContent1 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 16px;
  padding: 40px 42px;
}

.databaseRoot .databaseContent .databaseContent1 .urlInput {
  width: 100%;
}

.databaseRoot .databaseContent .databaseContent1 .urlInput .addDBBtn {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  display: flex;
  width: 148px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
  border-radius: 30px;
  cursor: pointer;
}

.databaseRoot .databaseContent .databaseContent1 .secondRoot {
  display: flex;
  width: 100%;
  margin-top: 31px;
}

.databaseRoot .databaseContent .databaseContent1 .secondRoot .commentInput {
  width: 895px;
  margin-right: 20px;
}

.databaseRoot .databaseContent .databaseContent1 .secondRoot .casesInput {
  flex-grow: 1;
}

.databaseRoot
  .databaseContent
  .databaseContent1
  .secondRoot
  .casesInput
  .toolRoot {
  display: flex;
  align-items: center;
}

.databaseRoot
  .databaseContent
  .databaseContent1
  .secondRoot
  .casesInput
  .toolRoot
  .plus {
  font-size: 20px;
  color: #75b3ff;
  margin-right: 6px;
}

.databaseRoot
  .databaseContent
  .databaseContent1
  .secondRoot
  .casesInput
  .toolRoot
  .circleBtn {
  width: 43px;
  height: 43px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.databaseRoot
  .databaseContent
  .databaseContent1
  .secondRoot
  .casesInput
  .toolRoot
  .circleBtn
  i {
  font-size: 16px;
  color: #75b3ff;
}

.databaseRoot .databaseContent .databaseContent2 {
  margin-top: 29px;
}

.databaseRoot .databaseContent .databaseContent2 .databaseTableHeader {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  padding: 0 31.69px 0 30px;
  margin-bottom: 2px;
}

.databaseRoot .databaseContent .databaseContent2 .customizeTable thead tr th {
  height: 53px !important;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .databaseTableHeader
  .databaseTableTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 31px;
}
.databaseRoot
  .databaseContent
  .databaseContent2
  .databaseTableHeader
  .toolEndRoot {
  display: flex;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .databaseTableHeader
  .toolEndRoot
  .tool {
  margin-left: 20px;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  thead
  tr
  th:nth-child(1) {
  width: 122px;
  padding-left: 13px !important;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  tbody
  tr
  td:nth-child(1) {
  text-align: center !important;
  padding-left: 12px !important;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  tbody
  tr
  td:nth-child(1)
  img {
  width: 51px !important;
  height: 51px !important;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  thead
  tr
  th:nth-child(2) {
  padding-left: 4px;
  text-align: left !important;
  width: 160px;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  tbody
  tr
  td:nth-child(2) {
  text-align: left !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  thead
  tr
  th:nth-child(3) {
  padding-left: 3px;
  width: 263px;
  text-align: left !important;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  tbody
  tr
  td:nth-child(3) {
  text-align: left !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  thead
  tr
  th:nth-child(4) {
  text-align: left !important;
  width: 281px;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  tbody
  tr
  td:nth-child(4) {
  text-align: left !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  thead
  tr
  th:nth-child(5) {
  text-align: left !important;
  width: 157px;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  tbody
  tr
  td:nth-child(5) {
  display: flex;
  align-items: center;
  text-align: left !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  tbody
  tr
  td:nth-child(5)
  img {
  min-width: 50px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  thead
  tr
  th:nth-child(6) {
  width: 250px;
  text-align: center;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  tbody
  tr
  td:nth-child(6) {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  thead
  tr
  th:nth-child(7) {
  width: 236px;
  text-align: center;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  tbody
  tr
  td:nth-child(7)
  div {
  min-width: 124px !important;
  max-width: 124px;
  margin: auto;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  thead
  tr
  th:nth-child(8) {
  width: 170px;
  text-align: center;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  tbody
  tr
  td:nth-child(8) {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #75b3ff;
  position: relative;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  tbody
  tr
  td:nth-child(8)
  .alertIcon {
  position: absolute;
  left: 22%;
  top: 35.5%;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  thead
  tr
  th:nth-child(9) {
  text-align: center;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  tbody
  tr
  td:nth-child(9) {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #75b3ff;
  text-decoration: underline;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  thead
  tr
  th:nth-child(10) {
  width: 97px;
}

.databaseRoot
  .databaseContent
  .databaseContent2
  .customizeTable
  tbody
  tr
  td:nth-child(10)
  .dotBtn {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
