.database {
  padding-top: 7px;
  padding-left: 32px;
  padding-right: 33px;
  padding-bottom: 30px;
}

.database .database__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 6px;
}

.database .database__header .database__header-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
}

.database .database__header .database__header-tab {
  margin-top: 36px;
}

.database .database__content {
  margin-top: 30px;
}

.database .database__content .database__content-1 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 16px;
  padding: 40px 42px;
}

.database .database__content .database__content-1 .database__url-input {
  width: 100%;
}

.database .database__content .database__content-1 .database__url-input .database__add-button {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  display: flex;
  width: 148px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
  border-radius: 30px;
  cursor: pointer;
}

.database .database__content .database__content-1 .database__second-row {
  display: flex;
  width: 100%;
  margin-top: 31px;
}

.database .database__content .database__content-1 .database__second-row .database__comment-input {
  width: 895px;
  margin-right: 20px;
}

.database .database__content .database__content-1 .database__second-row .database__cases-input {
  flex-grow: 1;
}

.database
  .database__content
  .database__content-1
  .database__second-row
  .database__cases-input
  .database__tool-row {
  display: flex;
  align-items: center;
}

.database
  .database__content
  .database__content-1
  .database__second-row
  .database__cases-input
  .database__tool-row
  .database__plus {
  font-size: 20px;
  color: #75b3ff;
  margin-right: 6px;
}

.database
  .database__content
  .database__content-1
  .database__second-row
  .database__cases-input
  .database__tool-row
  .database__circle-button {
  width: 43px;
  height: 43px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.database
  .database__content
  .database__content-1
  .database__second-row
  .database__cases-input
  .database__tool-row
  .database__circle-button
  i {
  font-size: 16px;
  color: #75b3ff;
}

.database .database__content .database__content-2 {
  margin-top: 29px;
}

.database .database__content .database__content-2 .database__table-header {
  padding: 30px;
  margin-bottom: 2px;
}

.database .database__content .database__content-2 .customize-table__table thead tr th {
  height: 53px !important;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-first
  .database__table-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 31px;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-first
  .database__tool-end {
  display: flex;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-first
  .database__tool-end
  .database__tool:last-child {
  margin-right: 0 !important;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-first
  .database__tool-end
  .database__search-tool {
  background: rgba(117, 179, 255, 0.2);
  border-radius: 30px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #75b3ff;
  padding: 0 20px;
  margin-right: 20px;
  cursor: pointer;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-first
  .database__tool-end
  .database__tool {
  margin-right: 20px;
  cursor: pointer;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-second {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-left: 20px;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-second
  .database__table-search-input {
  width: 521px;
  margin-right: 20px;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-second
  .database__search-button {
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  margin-right: 20px;
  cursor: pointer;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-second
  .database__search-button
  img {
  width: 20px;
  height: 20px;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-second
  .database__advanced-button {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #75b3ff;
  background: rgba(117, 179, 255, 0.2);
  border-radius: 30px;
  width: 198px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third {
  margin-top: 32px;
  margin-left: 20px;
  position: relative;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row:last-child {
  margin-bottom: 0 !important;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__input-root {
  margin-right: 20px;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__input-root
  .database__input-description {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__input-root
  .database__input {
  width: 521px !important;
  height: 70px !important;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__cases {
  margin-right: 20px;
  height: 70px !important;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__cases
  .dropChildrenRoot {
  right: 20px !important;
  top: 60px !important;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__cases
  .dropRoot {
  width: 192px;
  text-align: center;
  padding: 0 10px;
  background: #8097af;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  border-top-right-radius: 0;
  position: relative;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__cases
  .dropRoot
  .topRightArrow {
  position: absolute;
  right: 0;
  top: -13px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 0;
  border-bottom: 15px solid #8097af;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__cases
  .dropRoot
  .dropItem:last-child {
  border-bottom: none !important;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__cases
  .dropRoot
  .dropItem {
  padding-left: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  height: 44px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__social {
  margin-right: 20px;
  height: 70px !important;
}

/* //////////////////////////////////////////*/

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__social
  .dropChildrenRoot {
  right: 0;
  top: 0;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__social
  .dropRoot {
  width: 192px;
  text-align: center;
  padding: 0 10px;
  background: #8097af;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  border-top-right-radius: 0;
  position: relative;
  top: 63px;
  right: 20px;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__social
  .dropRoot
  .topRightArrow {
  position: absolute;
  right: 0;
  top: -13px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 0;
  border-bottom: 15px solid #8097af;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__social
  .dropRoot
  .dropItem:last-child {
  border-bottom: none !important;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__social
  .dropRoot
  .dropItem {
  padding-left: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  height: 44px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__social
  .database__platform-dropdown {
  padding: 20px 15px 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 63px;
  right: 20px;
  background: #8097af;
  border-radius: 20px;
  border-top-right-radius: 0;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__social
  .database__platform-dropdown::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-bottom-color: #8097af;
  border-top: 0;
  border-right: 0;
  margin-left: -18px;
  margin-top: -15px;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__social
  .database__platform-dropdown
  .database__platform-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__social
  .database__platform-dropdown
  .database__platform-item
  .database__check-root {
  position: relative;
  width: 20px;
  min-width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  padding: 2px;
  margin-right: 10px;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__social
  .database__platform-dropdown
  .database__platform-item
  .database__check-root::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px;
  padding: 2px;
  background: linear-gradient(270deg, #6ab4ff 0%, #c2a6ff 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__filter-row
  .database__social
  .database__platform-dropdown
  .database__platform-item
  > img {
  width: 33px;
  height: 33px;
}
/* /////////////////////////////////////// */

.database
  .database__content
  .database__content-2
  .database__table-header
  .database__table-header-third
  .database__search-button {
  position: absolute;
  top: 45%;
  right: 0;
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  margin-right: 20px;
  cursor: pointer;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  thead
  tr
  th:nth-child(1) {
  width: 122px;
  padding-left: 13px !important;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  tbody
  tr
  td:nth-child(1) {
  text-align: center !important;
  padding-left: 12px !important;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  tbody
  tr
  td:nth-child(1)
  img {
  width: 51px !important;
  height: 51px !important;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  thead
  tr
  th:nth-child(2) {
  padding-left: 4px;
  text-align: left !important;
  width: 160px;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  tbody
  tr
  td:nth-child(2) {
  text-align: left !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  thead
  tr
  th:nth-child(3) {
  padding-left: 3px;
  width: 263px;
  text-align: left !important;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  tbody
  tr
  td:nth-child(3) {
  text-align: left !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  thead
  tr
  th:nth-child(4) {
  text-align: left !important;
  width: 281px;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  tbody
  tr
  td:nth-child(4) {
  text-align: left !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  thead
  tr
  th:nth-child(5) {
  text-align: left !important;
  width: 157px;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  tbody
  tr
  td:nth-child(5) {
  display: flex;
  align-items: center;
  text-align: left !important;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  tbody
  tr
  td:nth-child(5)
  img {
  min-width: 50px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  thead
  tr
  th:nth-child(6) {
  width: 250px;
  text-align: center;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  tbody
  tr
  td:nth-child(6) {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  thead
  tr
  th:nth-child(7) {
  width: 236px;
  text-align: center;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  tbody
  tr
  td:nth-child(7)
  div {
  min-width: 124px !important;
  max-width: 124px;
  margin: auto;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  thead
  tr
  th:nth-child(8) {
  width: 170px;
  text-align: center;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  tbody
  tr
  td:nth-child(8) {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #75b3ff;
  position: relative;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  tbody
  tr
  td:nth-child(8)
  .database__alert-icon {
  position: absolute;
  left: 22%;
  top: 35.5%;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  thead
  tr
  th:nth-child(9) {
  text-align: center;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  tbody
  tr
  td:nth-child(9) {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #75b3ff;
  text-decoration: underline;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  thead
  tr
  th:nth-child(10) {
  width: 97px;
}

.database
  .database__content
  .database__content-2
  .customize-table__table
  tbody
  tr
  td:nth-child(10)
  .database__dot-button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
