.nrds-database .nrds-database__header {
  padding: 22px 20px 30px 30px;
}
.nrds-database .nrds-database__header .nrds-database__table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nrds-database .nrds-database__header .nrds-database__title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}
.nrds-database .nrds-database__header .nrds-database__tool {
  display: flex;
  align-items: center;
}

.nrds-database .nrds-database__header .nrds-database__search-tool {
  margin-right: 18px;
}

.nrds-database .nrds-database__header .nrds-database__search-root {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.nrds-database .nrds-database__header .nrds-database__search-root .nrds-database__plus-letter {
  font-size: 50px;
  line-height: 50px;
  color: #75b3ff;
  margin-left: 20px;
  cursor: pointer;
}

.nrds-database .nrds-database__header .nrds-database__search-root .nrds-database__dropdown {
  margin-left: 20px;
}

.nrds-database .nrds-database__td--first {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 18px;
  color: #75b3ff;
}

.nrds-database .nrds-database__td--avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.nrds-database .nrds-database__td--avatar img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.nrds-database .nrds-database__td--second {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.nrds-database .nrds-database__td--third {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #75b3ff;
}
.nrds-database .nrds-database__td--fourth {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
}
.nrds-database .nrds-database__td--fifth {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nrds-database .nrds-database__td--fifth .nrds-database__description {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #75b3ff;
  margin-right: 50px;
}
