.nrdsDatabaseTableRoot .databaseHeader {
  padding: 20px 20px 30px 30px;
}
.nrdsDatabaseTableRoot .databaseHeader .nrdsDatabaseTableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nrdsDatabaseTableRoot .databaseHeader .nrdsDatabaseTableTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}
.nrdsDatabaseTableRoot .databaseHeader .nrdsDatabaseTableToolRoot {
  display: flex;
  align-items: center;
}

.nrdsDatabaseTableRoot .databaseHeader .nrdsDatabaseTableSearchTool {
  margin-right: 18px;
}

.nrdsDatabaseTableRoot .databaseHeader .nrdsDatabaseSeacrhRoot {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.nrdsDatabaseTableRoot .databaseHeader .nrdsDatabaseSeacrhRoot .plusLetter {
  font-size: 50px;
  line-height: 50px;
  color: #75b3ff;
  margin-left: 20px;
  cursor: pointer;
}

.nrdsDatabaseTableRoot .databaseHeader .nrdsDatabaseSeacrhRoot .dropdown {
  margin-left: 20px;
}

.nrdsDatabaseTableRoot .firstTd {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 18px;
  color: #75b3ff;
}

.nrdsDatabaseTableRoot .secondTd {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.nrdsDatabaseTableRoot .thirdTd {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #75b3ff;
}
.nrdsDatabaseTableRoot .fourthTd {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
}
.nrdsDatabaseTableRoot .fifthTd {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nrdsDatabaseTableRoot .fifthTd .addBtn {
  margin-right: 30px;
  padding: 14px 20px 13px 20px !important;
}

.nrdsDatabaseTableRoot .fifthTd .des {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #75b3ff;
}
