body {
  background-color: black;
  font-family: sans-serif;
  font-style: normal;
}

.websiteContainer {
  background: linear-gradient(180deg, #000, #004083);
  border-radius: 32px;
  height: 1250px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  width: 2250px;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.content {
  margin-left: 22%;
  position: absolute;
  margin-left: 273px;
  margin-top: 145px;
  width: 2000px;
  position: inherit;
}

#sidebarCol {
  height: 100%;
  z-index: 999;
  width: 300px;
}

@font-face {
  font-family: "HelveticaMedium"; /*Can be any text*/
  src: local("HelveticaMedium"),
    url("./asset/fonts/helvetica_medium.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue"; /*Can be any text*/
  src: local("HelveticaNeue"),
    url("./asset/fonts/helvetica_neue.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica"; /*Can be any text*/
  src: local("Helvetica-Bold"),
    url("./asset/fonts/Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica-Bold"; /*Can be any text*/
  src: local("Helvetica-Bold"),
    url("./asset/fonts/Helvetica-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica-BoldOblique"; /*Can be any text*/
  src: local("Helvetica-BoldOblique"),
    url("./asset/fonts/Helvetica-BoldOblique.ttf") format("truetype");
}

@font-face {
  font-family: "helvetica-light"; /*Can be any text*/
  src: local("helvetica-light-587ebe5a59211"),
    url("./asset/fonts/helvetica-light-587ebe5a59211.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica-Oblique"; /*Can be any text*/
  src: local("Helvetica-Oblique"),
    url("./asset/fonts/Helvetica-Oblique.ttf") format("truetype");
}
