.comment-modal {
  width: 1500px;
  padding: 30px 30px 20px;
  background: linear-gradient(180deg, #343d49 0%, #336497 100%);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.comment-modal .comment-modal__setting {
  position: absolute;
  top: 30px;
  right: 69.4px;
}

.comment-modal .comment-modal__setting .three-dot-btn__dot {
  background: #fff !important;
  width: 5px !important;
  min-width: 5px !important;
  height: 5px !important;
  min-height: 5px !important;
  margin-bottom: 1px !important;
}

.comment-modal .comment-modal__close-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.comment-modal .comment-modal__setting-dropdown {
  position: absolute;
  top: 37px;
  right: 99px;
  width: 152px;
  background: #8097af;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  border-top-right-radius: 0;
  z-index: 5;
}

.comment-modal .comment-modal__setting-dropdown::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #8097af;
  border-top: 0;
  border-right: 0;
  margin-right: -19px;
}

.comment-modal .comment-modal__setting-dropdown .comment-modal__dropdown-item:last-child {
  border-bottom: none;
}

.comment-modal .comment-modal__setting-dropdown .comment-modal__dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #0000001a;
  cursor: pointer;
}

.comment-modal .comment-modal__setting-dropdown .comment-modal__dropdown-item .comment-modal__dropdown-item-content {
  width: 111px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}

.comment-modal .comment-modal__setting-dropdown .comment-modal__dropdown-item i {
  font-size: 16px;
  color: #fff;
}

.comment-modal .comment-modal__delete-modal {
  width: 489px;
}

.comment-modal .comment-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.comment-modal .comment-modal__header .comment-modal__title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

.comment-modal .comment-modal__content {
  display: flex;
  width: 100%;
}

.comment-modal .comment-modal__content .comment-modal__left {
  width: 720px;
  border-right: solid 1px rgba(255, 255, 255, 0.2);
  padding: 32.5px 30px 22px 0;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-1 {
  display: flex;
  align-items: center;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-1 .comment-modal__left-item-1 {
  display: flex;
  align-items: center;
  width: 323px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff99;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-1 .comment-modal__left-item-1 .comment-modal__item-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-1 .comment-modal__left-item-2 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-1 .comment-modal__left-item-2 img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-1 .comment-modal__left-item-2 .comment-modal__item-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  margin-right: 20px;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-2 {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-2 .comment-modal__item-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 20px;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-2 .comment-modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 44px;
  background: #01a1fd;
  border-radius: 30px;
  margin-right: 15px;
  cursor: pointer;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-2 .comment-modal__plus {
  color: #01a1fd;
  font-size: 30px;
  cursor: pointer;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-3 {
  margin-top: 30px;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-3 .comment-modal__item-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-3 .comment-modal__social-root {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-3 .comment-modal__social-root img:last-child {
  margin-right: 0;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-3 .comment-modal__social-root img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-4 {
  margin-top: 30px;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-4 .comment-modal__item-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-4 .comment-modal__comments-root {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  padding: 20px 20px 10px 20px;
  margin-top: 10px;
  position: relative;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-4 .comment-modal__comments-root img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-4 .comment-modal__comments-root .comment-modal__comment-description {
  width: 506px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-4 .comment-modal__comments-root .comment-modal__comment-date {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 19px;
}

.comment-modal
  .comment-modal__content
  .comment-modal__left
  .comment-modal__left-4
  .comment-modal__comments-root
  .three-dot-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.comment-modal
  .comment-modal__content
  .comment-modal__left
  .comment-modal__left-4
  .comment-modal__comments-root
  .three-dot-btn
  .three-dot-btn__dot {
  background: #ffffff !important;
}

.comment-modal .comment-modal__content .comment-modal__left .comment-modal__left-4 .comment-modal__comments-input {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 216px;
  padding: 24px 30px;
  margin-top: 20px;
  position: relative;
}

.comment-modal
  .comment-modal__content
  .comment-modal__left
  .comment-modal__left-4
  .comment-modal__comments-input
  textarea {
  width: 550px;
  height: 110px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0 !important;
  resize: none;
}
.comment-modal
  .comment-modal__content
  .comment-modal__left
  .comment-modal__left-4
  .comment-modal__comments-input
  textarea::placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}
.comment-modal
  .comment-modal__content
  .comment-modal__left
  .comment-modal__left-4
  .comment-modal__comments-input
  textarea:focus-visible {
  outline: none;
}
.comment-modal
  .comment-modal__content
  .comment-modal__left
  .comment-modal__left-4
  .comment-modal__comments-input
  textarea:focus {
  outline: none;
}

.comment-modal
  .comment-modal__content
  .comment-modal__left
  .comment-modal__left-4
  .comment-modal__comments-input
  .comment-modal__post-button {
  position: absolute;
  right: 40px;
  bottom: 25px;
  background: #75b3ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 81px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.comment-modal
  .comment-modal__content
  .comment-modal__left
  .comment-modal__left-4
  .comment-modal__comments-input
  .comment-modal__more-setting {
  position: absolute;
  right: 20px;
  top: 20px;
}

.comment-modal
  .comment-modal__content
  .comment-modal__left
  .comment-modal__left-4
  .comment-modal__comments-input
  .comment-modal__more-setting
  .three-dot-btn__dot {
  background: #fff !important;
}

.comment-modal .comment-modal__content .comment-modal__right {
  flex-grow: 1;
  padding: 47px 20px 23px 50px;
}

.comment-modal .comment-modal__content .comment-modal__right .comment-modal__upload-file {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 650px;
  border: 3px dashed #ffffff;
  border-radius: 40px;
  font-size: 100px;
  color: #fff;
}

.comment-modal .comment-modal__modal-container {
  width: 100%;
  display: flex;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-left {
  border-radius: 16px;
  width: 690px;
  padding: 10px 0 0;
  display: flex;
  flex-direction: column;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-left .comment-modal__title-button {
  width: 155px;
  height: 40px;
  background: rgba(255, 122, 0, 0.7);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 auto;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-left .comment-modal__title-description {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
  margin-top: 30px;
  padding: 20px 34px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  border-radius: 16px;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-left .comment-modal__upload-file {
  flex-grow: 1;
  border: 3px dashed #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: #fff;
  margin-top: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  border-radius: 16px;
}

.comment-modal .comment-modal__modal-container .comment-modal__divider {
  width: 2px;
  height: 720px;
  background: #ffffff33;
  margin: 70px 20px 0;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right {
  flex-grow: 1;
  padding: 64px 0 0;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__section-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-1 {
  display: flex;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-1 .comment-modal__right-item-1 {
  width: 323px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-1 .comment-modal__right-item-1 .comment-modal__date {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff99;
  margin-left: 10px;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-1 .comment-modal__right-item-2 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-1 .comment-modal__right-item-2 img {
  width: 30px;
  height: 30px;
  margin-left: 17.96px;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-1 .comment-modal__right-item-2 .comment-modal__name {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin-left: 10px;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-2 {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-2 .comment-modal__section-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 20px;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-2 .comment-modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 44px;
  background: #01a1fd;
  border-radius: 30px;
  margin-right: 15px;
  cursor: pointer;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-2 .comment-modal__plus {
  color: #01a1fd;
  font-size: 30px;
  cursor: pointer;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-3 {
  margin-top: 30px;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-3 .comment-modal__section-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-3 .comment-modal__social-root {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-3 .comment-modal__social-root img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-3 .comment-modal__social-root-2 {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-3 .comment-modal__social-root-2 img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.comment-modal
  .comment-modal__modal-container
  .comment-modal__modal-right
  .comment-modal__right-3
  .comment-modal__social-root
  img:last-child {
  margin-right: 0;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-4 {
  margin-top: 30px;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-4 .comment-modal__section-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-4 .comment-modal__comments-root {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  padding: 20px 20px 10px 20px;
  margin-top: 10px;
  position: relative;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-4 .comment-modal__comments-root img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.comment-modal
  .comment-modal__modal-container
  .comment-modal__modal-right
  .comment-modal__right-4
  .comment-modal__comments-root
  .comment-modal__comment-description {
  width: 506px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.comment-modal
  .comment-modal__modal-container
  .comment-modal__modal-right
  .comment-modal__right-4
  .comment-modal__comments-root
  .comment-modal__comment-date {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 19px;
}

.comment-modal
  .comment-modal__modal-container
  .comment-modal__modal-right
  .comment-modal__right-4
  .comment-modal__comments-root
  .three-dot-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.comment-modal
  .comment-modal__modal-container
  .comment-modal__modal-right
  .comment-modal__right-4
  .comment-modal__comments-root
  .three-dot-btn
  .three-dot-btn__dot {
  background: #ffffff !important;
}

.comment-modal .comment-modal__modal-container .comment-modal__modal-right .comment-modal__right-4 .comment-modal__comments-input {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 216px;
  padding: 24px 30px;
  margin-top: 20px;
  position: relative;
}

.comment-modal
  .comment-modal__modal-container
  .comment-modal__modal-right
  .comment-modal__right-4
  .comment-modal__comments-input
  textarea {
  width: 550px;
  height: 110px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0 !important;
  resize: none;
}
.comment-modal
  .comment-modal__modal-container
  .comment-modal__modal-right
  .comment-modal__right-4
  .comment-modal__comments-input
  textarea::placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}
.comment-modal
  .comment-modal__modal-container
  .comment-modal__modal-right
  .comment-modal__right-4
  .comment-modal__comments-input
  textarea:focus-visible {
  outline: none;
}
.comment-modal
  .comment-modal__modal-container
  .comment-modal__modal-right
  .comment-modal__right-4
  .comment-modal__comments-input
  textarea:focus {
  outline: none;
}

.comment-modal
  .comment-modal__modal-container
  .comment-modal__modal-right
  .comment-modal__right-4
  .comment-modal__comments-input
  .comment-modal__post-button {
  position: absolute;
  right: 40px;
  bottom: 25px;
  background: #75b3ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 81px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.comment-modal
  .comment-modal__modal-container
  .comment-modal__modal-right
  .comment-modal__right-4
  .comment-modal__comments-input
  .comment-modal__more-setting {
  position: absolute;
  right: 20px;
  top: 20px;
}

.comment-modal
  .comment-modal__modal-container
  .comment-modal__modal-right
  .comment-modal__right-4
  .comment-modal__comments-input
  .comment-modal__more-setting
  .three-dot-btn__dot {
  background: #fff !important;
}
