.commentModalLoaderWrapper {
  position: fixed;
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.commentModalRoot {
  position: fixed;
  flex-direction: column;
  width: 1500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99999;
  padding: 30px 30px 20px;
  background: linear-gradient(180deg, #343d49 0%, #336497 100%);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.commentModalRoot .setting {
  position: absolute;
  top: 30px;
  right: 69.4px;
}

.commentModalRoot .setting .dot {
  background: #fff !important;
  width: 5px !important;
  min-width: 5px !important;
  height: 5px !important;
  min-height: 5px !important;
  margin-bottom: 1px !important;
}

.commentModalRoot .closeIcon {
  position: absolute;
  top: 30px;
  right: 30px;
}

.commentModalRoot .headerRoot {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.commentModalRoot .headerRoot .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

.commentModalRoot .contentRoot {
  display: flex;
  width: 100%;
}

.commentModalRoot .contentRoot .leftPart {
  width: 720px;
  border-right: solid 1px rgba(255, 255, 255, 0.2);
  padding: 32.5px 30px 22px 0;
}

.commentModalRoot .contentRoot .rightPart {
  flex-grow: 1;
}

.commentModalRoot .contentRoot .leftPart .leftPart1 {
  display: flex;
  align-items: center;
}

.commentModalRoot .contentRoot .leftPart .leftPart1 .item1 {
  display: flex;
  align-items: center;
  width: 323px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff99;
}

.commentModalRoot .contentRoot .leftPart .leftPart1 .item1 .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.commentModalRoot .contentRoot .leftPart .leftPart1 .item2 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.commentModalRoot .contentRoot .leftPart .leftPart1 .item2 img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.commentModalRoot .contentRoot .leftPart .leftPart1 .item2 .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  margin-right: 20px;
}

.commentModalRoot .contentRoot .leftPart .leftPart2 {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.commentModalRoot .contentRoot .leftPart .leftPart2 .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 20px;
}

.commentModalRoot .contentRoot .leftPart .leftPart2 .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 44px;
  background: #01a1fd;
  border-radius: 30px;
  margin-right: 15px;
  cursor: pointer;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.commentModalRoot .contentRoot .leftPart .leftPart2 .plus {
  color: #01a1fd;
  font-size: 30px;
  cursor: pointer;
}

.commentModalRoot .contentRoot .leftPart .leftPart3 {
  margin-top: 30px;
}

.commentModalRoot .contentRoot .leftPart .leftPart3 .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.commentModalRoot .contentRoot .leftPart .leftPart3 .socialRoot {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.commentModalRoot .contentRoot .leftPart .leftPart3 .socialRoot img:last-child {
  margin-right: 0;
}

.commentModalRoot .contentRoot .leftPart .leftPart3 .socialRoot img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.commentModalRoot .contentRoot .leftPart .leftPart4 {
  margin-top: 30px;
}

.commentModalRoot .contentRoot .leftPart .leftPart4 .title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.commentModalRoot .contentRoot .leftPart .leftPart4 .commentsRoot {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  padding: 20px 20px 10px 20px;
  margin-top: 10px;
  position: relative;
}

.commentModalRoot .contentRoot .leftPart .leftPart4 .commentsRoot img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.commentModalRoot .contentRoot .leftPart .leftPart4 .commentsRoot .commentDes {
  width: 506px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.commentModalRoot .contentRoot .leftPart .leftPart4 .commentsRoot .commentDate {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 19px;
}

.commentModalRoot
  .contentRoot
  .leftPart
  .leftPart4
  .commentsRoot
  .dotGroupRoot {
  position: absolute;
  top: 20px;
  right: 20px;
}

.commentModalRoot
  .contentRoot
  .leftPart
  .leftPart4
  .commentsRoot
  .dotGroupRoot
  .dot {
  background: #ffffff !important;
}

.commentModalRoot .contentRoot .leftPart .leftPart4 .commentsInputRoot {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 216px;
  padding: 24px 30px;
  margin-top: 20px;
  position: relative;
}

.commentModalRoot
  .contentRoot
  .leftPart
  .leftPart4
  .commentsInputRoot
  textarea {
  width: 550px;
  height: 110px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0 !important;
  resize: none;
}
.commentModalRoot
  .contentRoot
  .leftPart
  .leftPart4
  .commentsInputRoot
  textarea::placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}
.commentModalRoot
  .contentRoot
  .leftPart
  .leftPart4
  .commentsInputRoot
  textarea:focus-visible {
  outline: none;
}
.commentModalRoot
  .contentRoot
  .leftPart
  .leftPart4
  .commentsInputRoot
  textarea:focus {
  outline: none;
}

.commentModalRoot
  .contentRoot
  .leftPart
  .leftPart4
  .commentsInputRoot
  .postBtn {
  position: absolute;
  right: 40px;
  bottom: 25px;
  background: #75b3ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 81px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.commentModalRoot
  .contentRoot
  .leftPart
  .leftPart4
  .commentsInputRoot
  .moreSetting {
  position: absolute;
  right: 20px;
  top: 20px;
}

.commentModalRoot
  .contentRoot
  .leftPart
  .leftPart4
  .commentsInputRoot
  .moreSetting
  .dot {
  background: #fff !important;
}

.commentModalRoot .contentRoot .rightPart {
  padding: 47px 0 23px 50px;
}

.commentModalRoot .contentRoot .rightPart .inputFileRoot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 650px;
  border: 3px dashed #ffffff;
  border-radius: 40px;
  font-size: 100px;
  color: #fff;
}
