.webAnalysisRoot {
  padding-left: 30px;
  padding-right: 30px;
}

.webAnalysisHeader {
  padding: 0 21px 0 7px;
  margin-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.analysisHello {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 0;
}

.analysisHello img {
  margin-left: 20px;
}

.analysisHeaderDes {
  margin-top: 20px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 0;
}

.webAnalysisHeaderBtn {
  background: rgba(117, 179, 255, 0.3);
  border-radius: 30px;
  padding: 14px 16px 13px 16px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #75b3ff;
  cursor: pointer;
}

.webAnalysisRoot .chartContainer {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  border: 2px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
}

.chartHeader {
  display: flex;
  align-items: center;
  height: 66px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.chartHeader .databasePart {
  padding: 0 10px 0 30px;
  width: 52.7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chartTools {
  display: flex;
}

.chartPeriod {
  margin-right: 30px;
}

.chartPeriod i {
  margin-left: 12px !important;
}

.chartCompare {
  padding: 10.5px 23px 10.5px 20px !important;
}

.chartHeader .casesPart {
  padding: 0 11px 0 30px;
  flex-grow: 1;
}

.headerItemTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 11px;
}

.chartContent {
  display: flex;
}

.chartContent .databasePart {
  padding: 34px 0 36px 40.5px;
  width: 52.7%;
  display: flex;
  border-right: 2px solid rgba(149, 166, 184, 0.4);
}

.chartContent .casesPart {
  padding: 30px 26.5px 30px 41px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.descriptionRoot {
  width: 229.56px;
  margin-right: 16px;
}

.descriptionRoot:first-child {
  border-top: 1px solid transparent;
}

.lineChartRoot {
  flex-grow: 1;
  padding-top: 49.35px;
  height: 323.39px;
}

.casesPart .descriptionRoot {
  margin-right: 40px;
}

.descriptionItem {
  border-top: 1px solid rgba(149, 166, 184, 0.1);
}

.casesPart .descriptionItem {
  padding: 17px 0 22px 0;
}

.descriptionItemTitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.7;
}
.descriptionItemCount {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 24px;
  margin-top: 20px;
}

.doughnutChartRoot {
  display: flex;
}
.chartRoot {
  position: relative;
}

.doughnutChartPercent {
  position: absolute;
  top: 46%;
  right: 46%;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.doughnutChartDes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.doughnutChartDesItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.doughnutChartIcon {
  width: 12px;
  min-height: 12px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin-right: 12.64px;
  border-radius: 50px;
}

.doughnutChartItemName {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.sencondPart {
  display: flex;
  margin-top: 30px;
  margin-bottom: 27px;
}

.borderNone {
  border: none !important;
}
