.web-analysis {
  padding-left: 30px;
  padding-right: 30px;
}

.web-analysis .web-analysis__header {
  padding: 0 21px 0 8.8px;
  margin-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web-analysis .web-analysis__header .web-analysis__hello {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 0;
}

.web-analysis .web-analysis__header .web-analysis__hello img {
  margin-left: 20px;
}

.web-analysis .web-analysis__header .web-analysis__header-desc {
  margin-top: 20px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 0;
}

.web-analysis .web-analysis__header .web-analysis__header-btn {
  background: rgba(117, 179, 255, 0.3);
  border-radius: 30px;
  padding: 14px 16.5px 13px 16.5px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #75b3ff;
  cursor: pointer;
}

.web-analysis .web-analysis__chart-container {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  border: 2px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
}

.web-analysis .web-analysis__chart-container .web-analysis__chart-header {
  display: flex;
  align-items: center;
  height: 66px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.web-analysis .web-analysis__chart-container .web-analysis__chart-header .web-analysis__database-section {
  padding: 0 10px 0 30px;
  width: 52.8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.web-analysis .web-analysis__chart-container .web-analysis__chart-header .web-analysis__database-section .web-analysis__chart-tools {
  display: flex;
}

.web-analysis
  .web-analysis__chart-container
  .web-analysis__chart-header
  .web-analysis__database-section
  .web-analysis__chart-tools
  .web-analysis__period-btn {
  margin-right: 30px;
  padding: 10.5px 20px 10.5px 20px;
}

.web-analysis
  .web-analysis__chart-container
  .web-analysis__chart-header
  .web-analysis__database-section
  .web-analysis__chart-tools
  .web-analysis__period-btn
  .web-analysis__period-dropdown {
  position: absolute;
  top: 63px;
  right: 20px;
  background: #8097af;
  border-radius: 10px;
  border-top-right-radius: 0;
  padding: 5px 10px;
}

.web-analysis
  .web-analysis__chart-container
  .web-analysis__chart-header
  .web-analysis__database-section
  .web-analysis__chart-tools
  .web-analysis__period-btn
  .web-analysis__period-dropdown::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-bottom-color: #8097af;
  border-top: 0;
  border-right: 0;
  margin-left: -13px;
  margin-top: -10px;
}

.web-analysis
  .web-analysis__chart-container
  .web-analysis__chart-header
  .web-analysis__database-section
  .web-analysis__chart-tools
  .web-analysis__period-btn
  .web-analysis__period-dropdown
  .web-analysis__period-dropdown-item:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

.web-analysis
  .web-analysis__chart-container
  .web-analysis__chart-header
  .web-analysis__database-section
  .web-analysis__chart-tools
  .web-analysis__period-btn
  .web-analysis__period-dropdown
  .web-analysis__period-dropdown-item {
  width: 172px;
  display: flex;
  justify-content: flex-start;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  padding: 10px 0 16px 5px;
  border-bottom: 1px solid #ffffff1a;
}

.web-analysis
  .web-analysis__chart-container
  .web-analysis__chart-header
  .web-analysis__database-section
  .web-analysis__chart-tools
  .web-analysis__period-btn
  i {
  margin-left: 12px !important;
}

.web-analysis
  .web-analysis__chart-container
  .web-analysis__chart-header
  .web-analysis__database-section
  .web-analysis__chart-tools
  .web-analysis__compare-btn {
  padding: 10.5px 23px 10.5px 20px !important;
}

.web-analysis
  .web-analysis__chart-container
  .web-analysis__chart-header
  .web-analysis__database-section
  .web-analysis__chart-tools
  .web-analysis__compare-btn
  i {
  margin-left: 12px !important;
}

.web-analysis
  .web-analysis__chart-container
  .web-analysis__chart-header
  .web-analysis__database-section
  .web-analysis__chart-tools
  .web-analysis__compare-btn
  .web-analysis__compare-dropdown {
  position: absolute;
  top: 63px;
  right: 20px;
  background: #8097af;
  border-radius: 10px;
  border-top-right-radius: 0;
  padding: 5px 10px;
}

.web-analysis
  .web-analysis__chart-container
  .web-analysis__chart-header
  .web-analysis__database-section
  .web-analysis__chart-tools
  .web-analysis__compare-btn
  .web-analysis__compare-dropdown::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-bottom-color: #8097af;
  border-top: 0;
  border-right: 0;
  margin-left: -13px;
  margin-top: -10px;
}

.web-analysis
  .web-analysis__chart-container
  .web-analysis__chart-header
  .web-analysis__database-section
  .web-analysis__chart-tools
  .web-analysis__compare-btn
  .web-analysis__compare-dropdown
  .web-analysis__compare-dropdown-item:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

.web-analysis
  .web-analysis__chart-container
  .web-analysis__chart-header
  .web-analysis__database-section
  .web-analysis__chart-tools
  .web-analysis__compare-btn
  .web-analysis__compare-dropdown
  .web-analysis__compare-dropdown-item {
  width: 172px;
  display: flex;
  justify-content: flex-start;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  padding: 10px 0 16px 5px;
  border-bottom: 1px solid #ffffff1a;
}

.web-analysis .web-analysis__chart-container .web-analysis__chart-header .web-analysis__cases-section {
  padding: 0 11px 0 30px;
  flex-grow: 1;
}

.web-analysis .web-analysis__chart-container .web-analysis__chart-header .web-analysis__database-section .web-analysis__header-item-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 11px;
}

.web-analysis .web-analysis__chart-container .web-analysis__chart-header .web-analysis__cases-section .web-analysis__header-item-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 11px;
}

.web-analysis .web-analysis__chart-content {
  display: flex;
}

.web-analysis .web-analysis__chart-content .web-analysis__database-section {
  padding: 34px 0 36px 40.5px;
  width: 52.8%;
  display: flex;
  border-right: 2px solid rgba(149, 166, 184, 0.4);
}

.web-analysis .web-analysis__chart-content .web-analysis__cases-section {
  padding: 30px 26.5px 30px 50px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.web-analysis .web-analysis__description {
  width: 229.88px;
  margin-right: 16px;
}

.web-analysis .web-analysis__description .web-analysis__description-item:first-child {
  border: none !important;
  padding-top: 0 !important;
}

.web-analysis .web-analysis__description .web-analysis__description-item:last-child {
  padding-bottom: 0 !important;
}

.web-analysis .web-analysis__line-chart {
  flex-grow: 1;
  padding-top: 49.35px;
  height: 323.39px;
}

.web-analysis .web-analysis__cases-section .web-analysis__description {
  margin-right: 42px;
}

.web-analysis .web-analysis__description-item {
  border-top: 1px solid rgba(149, 166, 184, 0.1);
}

.web-analysis .web-analysis__cases-section .web-analysis__description-item {
  padding: 17px 0 22px 0;
}

.web-analysis .web-analysis__description-item-title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.7;
}
.web-analysis .web-analysis__description-item-count {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 24px;
  margin-top: 20px;
}

.web-analysis .web-analysis__doughnut {
  display: flex;
}
.web-analysis .web-analysis__chart-root {
  position: relative;
}

.web-analysis .web-analysis__doughnut-percent {
  position: absolute;
  top: 46%;
  right: 46%;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.web-analysis .web-analysis__doughnut-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.web-analysis .web-analysis__doughnut-desc-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.web-analysis .web-analysis__doughnut-icon {
  width: 12px;
  min-height: 12px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin-right: 12.64px;
  border-radius: 50px;
}

.web-analysis .web-analysis__doughnut-item-name {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.web-analysis .web-analysis__second-part {
  display: flex;
  margin-top: 30px;
  margin-bottom: 27px;
}
